extends ../layout.pug
block content
  .container-fluid.mt-5.text-left
    h2 Settings
    form.mb-5(method='POST', action='/admin/settings')
      each settingsKey in settingsKeys
        .mb-1
          if settingsKey.instance === "Boolean"
            label.checkbox.text-muted(for=settingsKey.path)
              = settingsKey.path
              input.path(id=settingsKey.path, type='checkbox', name=settingsKey.path, value="on", checked=!!settings && !!settings[settingsKey.path] ? true : false )
              span.checkmark

          
          else if settingsKey.instance === "ObjectID"
            .input-group.mr-2
              .input-group-prepend.w-100
                label.input-group-text.text-capitalize.d-block(for='calltoaction') Landingpage polygon calltoaction button page
                  button.btn.btn-secondary.badge.ml-2(type='button', data-container='body', data-toggle='popover', delay=2,  data-trigger="hover",  data-placement='top', data-content='Defines the page which will be linked in the lower blue polgon section on the right')
                    | ?
                select#calltoaction.form-control(for='calltoaction' name='calltoaction')
                  option(value="") -- Select --
                  each page in pages
                    option(value=page._id, selected=settings.calltoaction.toString() === page._id.toString() ?  "selected" :  false )=page.title

          else
            .input-group.mr-2
              .input-group-prepend.w-100
                label.input-group-text.text-capitalize.d-block(for=settingsKey.path)
                  = settingsKey.path
                  if settingsKey.path === "announcement_banner_string"
                    button.btn.btn-secondary.badge.ml-2(type='button', data-container='body', data-toggle='popover', delay=2,  data-trigger="hover",  data-placement='top', data-content='Defines the text shown in the top announcement bar. This should be the english version and can be translated with exactly this string per translation key below. If empty the announcement box + cta is hidden. They translation key should not contain a period(.).')
                      | ?
                if settingsKey.path === "announcement_banner_string"
                  textarea.form-control(name=settingsKey.path, id=settingsKey.path, type=settingsKey.instance === "Number" ? 'number' : `text`)=settings ? settings[settingsKey.path] : ""
                else
                  input.form-control(name=settingsKey.path, id=settingsKey.path, type=settingsKey.instance === "Number" ? 'number' : `text`, value=settings ? settings[settingsKey.path] : "")

      button.btn.btn-primary(type='submit')="Save"

    h2 String translations
    #stringtranslationroot