extends ../layout.pug
block content
  .bg-light
    .container-fluid.text-left
      h1 Contacts
      button.btn.btn-info.mb-3#downloadCSV Download CSV
      .row
        .col-md-8
          ul.list-group
            each contact in contacts
              li.list-group-item.mb-3.hover-shadow.bg-white
                h2.mr-3=contact.name
                a.d-block(href=contact.track)=contact.track
                small.text-muted=contact.createdAt
                p.mr-3=contact.body
                tel.mr-3=contact.phone
                a.mr-3(href='mailto:'+ contact.email)=contact.email

                if contact.locations.length
                  span Interested in:
                  each location in contact.locations
                    .badge.badge-primary.mr-2=location.name
                if contact.isEvent
                  span.badge.badge-danger= "Event participation request"
                if contact.isCompany === 'true'
                  span.badge.badge-warning= "Is Companytour request"
