extends ../layout.pug
block content
  .container-fluid
    h1 Events
    .btn-group.mt-3(role="group" aria-label="Basic example" )
      a.btn.btn-outline-primary(href="/admin/events/fetchevents")="Fetch events from Eventbride"
      a.btn.btn-outline-danger(href="/admin/events/deleteevents")="Delete all"

  .container-fluid.py-3.bg-white
    .row
      each location in eventsByLocation
        .col-md-6.table-responsive
          h2=location.name
          table.table.table-striped
            each event in location.events
              tr.white-space-nowrap(class=event.start < new Date() ? "text-lightgrey" : "")
                td.py-0
                  span=event.start.toISOString().replace(/-/g, "").replace("T", " ").slice(0,14)
                td.py-0=event.name
