extends ../layout.pug
block content
  .container-fluid
    h1= user.admin === "true" ? "Stories" : "Your stories"
    .row
      .col-md-8
        .row
          unless stories.length
            = "You have no stories yet. Create one on the right ->"
          else
            each story in stories
              if !story.language || story.language && story.language.title == "en"
                .col-md-3
                  .p-3.bg-white.hover-shadow(href="/stories/"+story.slug)
                    .row.position-relative
                      .col-12.align-items-center
                        img.object-fit-cover.img-fluid.rounded-circle.square(alt=story.subtitle src="/media/pixel.gif" style="background-image: url('/images/"+story.avatar+"')")
                      .col-5.position-absolute.align-items-center.bottom.right
                        img.object-fit-cover.img-fluid.rounded-circle.square(alt=story.subtitle src="/media/pixel.gif" style="background-image: url('/images/"+story.companylogo+"')")
                    div
                      h2=story.title
                      h5
                        ="Is Company: "
                        label.checkbox.TermsofService.text-muted
                          input(type='checkbox', name='TermsofService[]', value=!!story.isCompanyStory,checked=!!story.isCompanyStory, disabled)
                          span.checkmark
                      code=story.workPosition
                      p.text-left.text-muted=story.excerpt
                    +buttonGroup(story, `stories`)



      .col-md-4
        +storyForm
