extends ../layout.pug
block content

  table.table
    thead
      tr
        th Name
        th Email
        th Verified
        th Activated
        th Role
        th.mr-4 Status

    tbody
      each user in users
        tr
          td= user.username
          td= user.email
          td= `${user.verifiedAt ? user.verifiedAt : ' Not verified yet'}`
          td= `${user.activatedAt ? user.activatedAt : ' Not activated yet'}`
          if user.superAdmin == 'true'
            td Super Admin
          else if user.admin == 'true' && user.superAdmin != 'true'
            td Admin
          else
            td User
            
          td.d-flex.justify-content-between.px-0
            form(method='GET', action='/admin/users/verify_user/' + user._id)
              if !user.verifiedAt || !user.activatedAt 
                button.btn.btn-success.btn-sm.mr-1(type="submit") Activate
              else
                button.btn.btn-warning.btn-sm.mr-1(type='submit') Deactivate


            if user.verifiedAt && user.activatedAt
              if user.admin != 'true' && user.superAdmin != 'true'
                form(method='POST', action=`/admin/users/upgrade_user/${user._id}?role=admin`)
                  button.btn.btn-success.btn-sm(type="submit") Make admin
              else if user.admin == 'true' && user.superAdmin != 'true'
                form(method='POST', action=`/admin/users/upgrade_user/${user._id}?role=superadmin`)
                  button.btn.btn-success.btn-sm(type='submit') Make superadmin
              else 
                form(method='POST', action='/admin/users/upgrade_user/' + user._id)
                  button.btn.btn-warning.btn-sm(type='submit') Make user
            form(method='POST', action='/admin/users/delete/' + user._id)
              button.btn.btn-danger.btn-sm.mx-1(type='submit') Delete