extends layout.pug
block content

    .bg-light
      .bg-white
        .container
          .mt-5
            h1=__("Our campuses")
            .row.mt-5
              each location in locations.filter(l => l.isCampus)
                .col-sm-6.mb-5
                  h3=location.name
                  if location.email
                    div
                      strong
                        ="Email: "
                      a(href= "mailto:"+location.email)=location.email
                  if location.phone
                    div
                      strong
                        =__("Phone")+": "
                      tel= location.phone
                  if location.street
                    div
                      strong
                        =__("Street")+": "
                      tel= location.street
                  if location.zip
                    div
                      strong
                        =__("Zip")+": "
                      = location.zip

    .bg-light.pb-200
      .container.py-5
        div.story-item.py-5

          .row
            .col-md-8.offset-md-2
              h2.display-1.text-center.text-uppercase=__('Contact us')
              p.mb-5.text-center.text-muted=__('Let’s connect! Our admissions team will call you soon to chat about our courses and your goals')
              +contactform
