
extends layout.pug
mixin employeeimage(location)
  img.blue-shadow.object-fit-cover.img-fluid.rounded-circle.square(src="/media/pixel.gif" alt= location.contactEmployee ? location.contactEmployee.name : " " style=`background-image: url('${location.contactEmployee && location.contactEmployee.avatar ? `/images/` + location.contactEmployee.avatar : `/media/circuit-board.svg`}')`)
block content
  .jumbotron.jumbotron-fluid.mb-0.bg-section
    .container
      .row
        .col-md-6
          h1.display-1.mt-md-5.mb-3.pt-md-5=__("Our campuses")
          p.lead=__("We have locations all across germany")
        .col-md-6
          img.w-100(src="/media/header_contact.jpg" alt="Campus image" )

  .bg-primary
    .container.text-center.text-white.py-5
      .py-md-5
        h2: +translate("Remote Learning")
        p: +translate("Learn from the comfort of your home in a virtual and professional learning enviroment. Our educational Counselors will bring you up to speed and help you secure your spot.")
        .row.mt-5.mb-5
          .col-md-6.mb-5.mb-md-0
            div.mb-3.h-2
              include ../assets/media/pin.svg
            +translate("Learn from anywhere in Germany")
          .col-md-6
            div.mb-3.h-2
              include ../assets/media/computer-thin.svg
            +translate("We will equip you with the right devices")

        a.btn.btn-lg.btn-secondary.mb-3.mx-5(href='/contact', data-toggle='modal', data-target='#contactFormModal'): +translate("Apply now")
  .bg-light
    .bg-white
      .container
        .mt-5
          .row.mt-5
            each location, index in locations.filter(l => l.isCampus)
              .col-md-10.col-lg-9.mb-5.hover-shadow.rounded.overflow-hidden(class=index % 2 === 0 ? "offset-md-2 offset-lg-3" : "")
                .row
                  .col-md-6.px-0
                    .bg-primary.h-100
                      img.w-100.h-100.object-fit-cover.img-fluid.half-transparent(src="/media/pixel.gif" alt=location.name style=`background-image: url('${location.avatar ? `/images/` + location.avatar : `/media/circuit-board.svg`}')`)
                    h3.text-white.position-absolute.transform-absolute-center.w-100.text-center=location.name
                  .col-md-6.d-flex.flex-column.justify-content-center.text-center.py-5 
                    if location.contactEmployee
                      .shadow-sm.shadow-sm-md-none
                        .row.jobcenter-location-employee.justify-content-center
                          each employee in location.contactEmployee.splice(0,6)
                            .col-md-4.mb-4.mb-md-0
                              .px-0.px-lg-3.pt-4.mw-150.mx-auto
                                +storyImages(employee, 'col')
                          .col-md-12.d-flex.flex-column.justify-content-end.text-center
                            h6.font-weight-bold.mt-3=location.contactEmployee.name
                            .d-flex.flex-lg-column.justify-content-center.mb-4.mb-lg-0
                              if location.contactEmployee.phone
                                a.h-4.w-4.mt-3.mb-1.bg-primary-light.circle.d-lg-none(href=`tel:${location.contactEmployee.phone}`)
                                  include ../assets/icons/phone.svg
                                .position-relative.z-1.mb-3
                                  p.text-muted.mb-1.d-none.d-lg-block
                                    span.font-weight-bold Tel: 
                                    a.text-dark(href=`tel:${location.contactEmployee.phone}`)=location.contactEmployee.phone
                              if location.contactEmployee.email
                                .position-relative.z-1.ml-5.ml-lg-0.mb-3
                                  a.h-4.w-4.mt-3.mb-1.bg-primary-light.circle.d-lg-none(href=`mailto:${location.contactEmployee.email}`)
                                    include ../assets/icons/mail.svg
                                  p.text-muted.d-none.d-lg-block.mb-0
                                    span.font-weight-bold Email: 
                                    a.text-dark(href=`mailto:${location.contactEmployee.email}`)=location.contactEmployee.email 


                    if location.street
                      .h-4.w-4.mb-3.mb-1.bg-primary-light.circle.mx-auto.text-white.p-2
                        include ../assets/media/pin.svg
                      div= location.street
                    if location.zip
                      div
                        = location.zip
                    if location.email
                      a.d-block(href= "mailto:"+location.email)
                        .h-4.w-4.mb-1.bg-primary-light.circle.mx-auto
                          include ../assets/icons/mail.svg
                        div                   
                          =location.email
  .bg-light.pb-200
    .container.py-5
      div.py-5
        .row
          .col-md-8.offset-md-2
            h2.display-1.text-center.text-uppercase=__('Contact us')
            p.mb-5.text-center.text-muted=__('Let’s connect! Our admissions team will call you soon to chat about our courses and your goals')
            +contactform
