extends layout.pug
block content
  section#services.h-100.bg-section.pb-200
    .container.h-100
      .h-100.py-3.py-md-5
        .row.py-5.justify-content-center
          each course in courses
            .col-md-6.mb-5.mb-sm-4.floatings
              .bg-white.px-5.py-3.text-center.hover-shadow.h-100.d-flex.flex-column
                a.card-link.d-block(href="/courses/" + course.slug title=course.title).flex-grow.justify-content-between.h-100
                  .m-3.row.position-relative
                    .col-12.align-items-center.my-4
                      .square.position-relative
                        .position-absolute.top.left.bottom.right.d-flex.justify-content-center
                          img.object-fit-contain.img-fluid(src=`${course.icon ? `/images/` + course.icon : `/media/circuit-board.svg`}` alt=course.headline)
                  h3.text-dark= course.headline
                  p.text-dark=course.subheading
                div
                  hr
                  a.text-dark.font-weight-bold(href="/courses/" + course.slug title=course.title): +translate("View course")
