extends layout.pug
block content
  .jumbotron.jumbotron-fluid.text-center
    .jumbotron-courses-container.container.px-md-5.pb-md-5.pb-5
      h1.display-1.mt-5.mb-3=__('Courses')
      h2=__("Get going with practical learning from the start")
      p.lead.mb-5=__("We put you in the driving seat from the beginning. You can expect hands-on learning with a strong support network. Whether you’re starting fresh or topping up your knowledge, we help you build your skills in a flexible environment. Your dedication is your success.")

  section#services.h-100
    .container.h-100
      .bg-white.h-100
        .row.p-3
          each course in courses
            .col-md-6.col-lg-4
              .bg-light.hover-shadow.text-center.p-3
                a(href="/courses/"+course.slug)
                  .m-3.row.position-relative
                    .col-10.offset-1.col-md-8.offset-md-2.align-items-center
                      img.object-fit-cover.img-fluid.square(alt=course.headline src="/media/pixel.gif" style="background-image: url('/images/"+course.icon+"')")

                  h4.service-title= course.headline
                  p=course.title

