extends layout.pug
block content
  .section
    .content
      section.homeSection.d-flex.flex-column.position-relative
        if currentPath == "/"
          +navigation
        div.mainHome.d-flex.w-100.z-1.py-md-5
          .intersection_observed.bg-primary.w-5.h-5.position-absolute
          .intersection_observed.bg-light-blue.position-absolute.z-minus.w-5.h-5.ml-3.mt-3
          div.m-auto.container.py-md-5
            .dotted.red.w-10.h-10.rounded-circle.position-absolute.right.mr-5
            .dotted.blue.w-10.h-10.rounded-circle.position-absolute.left.bottom.ml-3
            .row.my-5.py-5
              .col-md-6.py-5.order-12.order-md-1
                h1.font-weight-bold.display-1: +translate('Start your')
                h2.mb-5.display-1.font-weight-bold: +translate('Digital career')
                p.subtitle.h5.mb-5.text-shadow-light-blue: +translate("Learn digital skills with us to get the most fulfilling jobs")
                .d-flex
                  a.mb-3.btn.btn-lg.btn-secondary.mr-2.mr-md-4.scrollbutton.w-100(href='#ourcourses', role='button'): +translate("Browse Courses")
              .col-md-6.py-5.order-1.order-md-12.d-none.d-md-block
                img.w-100(src="/media/hero.svg", alt="")
            .mb-5.position-relative
              .intersection_observed.bg-primary.w-5.h-5.position-absolute.bottom.right
              .intersection_observed.bg-light-blue.position-absolute.z-minus.w-5.h-5.mr-3.mb-3.bottom.right

      section#partners.py-5.bg-light
        .container.py-5.text-center
          h2.display-1.text-center.mb-5: +translate("Company that hired our students")
          - randompartners = [...partners]
          - for (let i = randompartners.length - 1; i > 0; i--) {
              - const j = Math.floor(Math.random() * (i + 1));
              - [randompartners[i], randompartners[j]] = [randompartners[j], randompartners[i]];
          - }  
          .row
            each partner, index in randompartners.splice(0,6)
              if partner.link
                a.col-3.col-md-2.partner.h-4.align-items-center.justify-content-center(href=partner.link target="_blank" rel="noopener" class=index > 3 ? "d-none d-md-block" : "")
                  img.partners-logo.w-100.mw-150.mh-150.object-fit-cover(alt=partner.title, src="/images/" + partner.partnerlogo)
              else
                img.col-3.col-md-2.partners-logo.w-100.mw-150.mh-150.object-fit-cover(alt=partner.title, src="/images/" + partner.partnerlogo class=index > 3 ? "d-none d-md-block" : "")

      section#partners.py-5
        header.offset_header.position-relative
          .intersection_observed.bg-light-blue.position-absolute.w-5.h-5.w-md-10.h-md-10.mr-3.mb-3.top.left
          .d-inline-block.position-relative
            h2
              +translate("Our courses")
        .container.pt-5
          .row.mx-md-5.justify-content-center
            each course in courses
              .col-md-6.mb-5.mb-sm-4.floatings
                .bg-white.hover-shadow.h-100.d-flex.flex-column
                  .d-block.flex-grow.justify-content-between.h-100
                    .py-3.px-5.px-md-4
                      .px-2
                        .row.position-relative
                          .col-4.col-md-3.my-4
                            img.object-fit-cover.img-fluid.square(src="/media/pixel.gif" alt=course.headline style=`background-image: url('${course.icon ? `/images/` + course.icon : `/media/circuit-board.svg`}')`)
                          .col-8.col-md-12.d-flex.flex-column.justify-content-center
                            a.stretched-link(href="/courses/" + course.slug)
                              h3.text-muted= course.headline
                            p.text-muted= course.courselength
                        p.text-dark=course.subheading
                        div.text-right
                          a.btn.btn-outline-secondary(href="/courses/" + course.slug): +translate("View course details")
          a.z-1.btn.btn-lg.btn-secondary.my-5(href='/courses/', role='button', aria-pressed='true')
            +translate("All")
            = " "
            +translate("Courses")

      section#mission.position-relative
        .container.section-counter
          h2
            +translate("Mission")
          p= __("The Digital Career Institute was born as an initiative to integrate refugees into digital jobs. Today it is committed to train anyone who wants to pursue a tech career.")
          .py-5.row
            .col-md-6
              .bg-primary.rounded
                img.rounded.h-100.w-100.object-fit-cover.half-transparent.h-100(alt="people programming" src='/media/bg4.jpg')
            .col-md-6
              .row
                .col-6
                  .counter-item
                    .counter-number.font-weight-bold
                      h2.display-1
                        span.counter-count=locals.settings.landingpage_archivements_students || 600
                        = "+"
                    p: +translate("Students")
                .col-6
                  .counter-item
                    .counter-number.font-weight-bold
                      h2.display-1
                        span.counter-count=locals.settings.landingpage_archivements_courses || 50
                        = "+"
                    p: +translate("Courses started")
                .col-6
                  .counter-item
                    .counter-number.font-weight-bold
                      h2.display-1
                        span.counter-count=locals.settings.landingpage_archivements_tours || 300
                        = "+"
                    p: +translate("Company tours")
                .col-6
                  .counter-item
                    .counter-number.font-weight-bold
                      h2.display-1
                        span.counter-count=locals.settings.landingpage_archivements_locations || 5
                    p: +translate("Locations")
                .col-6
                  .counter-item
                    .counter-number.font-weight-bold
                      h2.display-1
                        span.counter-count=locals.settings.careersuccesspage_employmentrate || 87
                    p: +translate("Placement rate")
                .col-6
                  .counter-item
                    .counter-number.font-weight-bold
                      h2.display-1
                        span.counter-count=locals.settings.landingpage_different_nationalities || 90
                    p: +translate("Different nationalities of students and teachers")

        .bg-light-blue.position-absolute.h-50.w-100.z-minus.bottom

      section#hiring.bg-light-blue.py-5
        .container
          .row
            .col-md-6
              h2: +translate("Meet our hiring partners")
              p=__("We work with over 400 hiring partners to match our students with tech jobs after graduation, including unique networking opportunities. DCI alumni work in top tech companies as front-end developers, full-stack developers, technical product managers, marketing managers, SEO specialists and more.")
              a(href="/tour" title=__("Companies"))=__("Learn more about our partner companies")

            .col-md-6
              .row.bg-white.p-5
                each partner, index in partners
                  if partner.link
                    a.col-4.h-4.align-items-center.justify-content-center(href=partner.link target="_blank" rel="noopener" class=index > 3 ? "d-none d-md-block" : "")
                      img.w-100.mw-150.mh-150.object-fit-cover(alt=partner.title, src="/images/" + partner.partnerlogo)
                  else
                    img.col-4.w-100.mw-150.mh-150.object-fit-cover(alt=partner.title, src="/images/" + partner.partnerlogo class=index > 3 ? "d-none d-md-block" : "")

      section#stories.my-5.offset_title.position-relative
        header.offset_header.text-right
          .d-inline-block.position-relative
            h2.position-relative.d-inline-block.display-1.text-center.text-white.bg-primary.px-5.py-4
              +translate("Stories")

        if stories
          - storysWithTestimonial = stories
          if storysWithTestimonial.length > 0
            .container
              .mx-lg-5
                .mx-lg-5.px-lg-2
                  .py-5
                    h2.pb-3.mb-5.p-1.bg-white
                      =__("What companies")
                      span.badge.text-primary.font-weight-normal.mx-1=__("love")
                      =__("about our graduates")

              +successCarousel(storysWithTestimonial)

        .pt-4.text-center
          a.btn.btn-lg.btn-secondary.mx-5(href="/stories"): +translate("Show all Stories")

      if events
        section#events.bg-light.py-5
          .container
            h2.display-1.text-center: +translate("Upcoming events")
            h3.mb-5.text-center.text-muted: +translate("Meet us in person in several locations in Germany")
            .row.mx-md-5
              each event in events
                +singleEvent(event)

          .text-center
            a.btn.btn-lg.btn-secondary.mx-5(href='/events/'): +translate("All Events")
      section.call-to-action.pt-5.bg-dark.overflow-hidden.position-relative.z-0.d-flex.flex-column.justify-content-center.pb-200
        .z-1.container.text-white
          h2.mb-5: +translate("Join the Tech Disruption at DCI")
          .row.mb-5
            .col-md-6
              .shape-md-outside
              div.right-shape-md: +translate("Do you want to become one of the digital pioneers and show your creativity to the world, or change careers Then join entrepreneurs and disruptors at DCI")
            .col-md-6
              .shape-md-outside.shape-left
              div.left-shape-md: +translate("Are you a company looking to hire Grads? or would you like to become one of our partner companies and host company tours? Then ..")
          .text-center.mb-5
            a.btn.btn-lg.btn-secondary.mb-3.mx-5(href='/contact', data-toggle='modal', data-target='#contactFormModal'): +translate("Apply now")
            a#calltoaction.btn.btn-lg.btn-tertiary.mb-3.mx-5(href='/tour')=__("Become a Hiring Partner")
        canvas.z-minus#polygons(width="1000", height="400")



