extends layout.pug
block content
  .section

    .content.overflow-hidden
      section.homeSection.d-flex.flex-column.position-relative.bg-light-grey
        if currentPath == "/"
          +navigation
        div.mainHome.d-flex.w-100.z-1.py-md-5
          div.m-auto.container.py-md-5
            .row
              .col-md-6.py-5.order-12.order-md-1
                h1.font-weight-bold.display-1: +translate('Start your')
                h2.mb-5.display-1.font-weight-bold: +translate('Digital career')
                p.subtitle.h5.mb-5: +translate("Learn digital skills with us to get the most fulfilling jobs")
                .d-flex
                  a.mb-3.btn.btn-lg.btn-secondary.mr-2.mr-md-4(href='#ourcourses', role='button'): +translate("Browse Courses")
              .col-md-6.py-5.order-1.order-md-12
                img.w-100(src="/media/hero.svg", alt="")

      section#ourcourses.position-relative.offset_title.pb-5
        header.offset_header.text-center
          .d-inline-block.position-relative
            .bluepolygon.z-minus(style="transform: rotate(-45deg) skew(20deg, 0) translateX(-3em)")
            h2.position-relative.d-inline-block.display-1.text-center.text-white
              +translate("Our courses")
        .container.pt-5.text-center
          .row.mx-md-5.justify-content-center
            each course in courses
              .col-md-6.col-lg-4.mb-5.mb-sm-4.floatings
                .bg-white.px-5.py-3.px-md-2.text-center.hover-shadow.h-100.d-flex.flex-column
                  a.card-link.d-block(href="/courses/" + course.slug).flex-grow.justify-content-between.h-100
                    .m-3.row.position-relative
                      .col-10.offset-1.col-md-8.offset-md-2.align-items-center.my-4
                        img.object-fit-cover.img-fluid.square(src="/media/pixel.gif" alt=course.headline style=`background-image: url('${course.icon ? `/images/` + course.icon : `/media/circuit-board.svg`}')`)
                    h3.text-dark= course.headline
                    p.text-dark=course.subheading
                  div
                    hr
                    a.text-dark.font-weight-bold(href="/courses/" + course.slug): +translate("View course details")
          a.z-1.btn.btn-lg.btn-secondary.my-5(href='/courses/', role='button', aria-pressed='true')
            +translate("All")
            = " "
            +translate("Courses")

      section#mission.bg-light
        .position-relative.offset_title
          header.offset_header.text-left
            .d-inline-block.position-relative
              .bluepolygon.z-minus.right(style="transform: rotate(25deg) skew(10deg, -10deg) translate(1em, -2em)")
              h2.position-relative.d-inline-block.display-1.text-center.text-white.ml-3
                +translate("Mission")


          .position-relative.container.overflow-hidden.my-5
            .bg-light.p-4.rounded
              .history-line.justify-content-between.row.text-center.text-shadow-white
                .col-md-2.d-flex.flex-column.justify-content-end
                  div.font-weight-bold.h3-md 2016
                  div: +translate("1st Campus in Berlin")
                .col-md-2
                  div.d-md-none.font-weight-bold.h3-md 2017
                  div.d-md-none: +translate("New Campuses in Düsseldorf & Hamburg")
                .col-md-2.flex-column.justify-content-end
                  div.d-none.d-md-block.font-weight-bold.h3-md 2018
                  div.d-none.d-md-block: +translate("Partnership with Facebook")
                .col-md-2
                .col-md-2
                  div.d-none.d-md-block.font-weight-bold.h3-md 2020
                  div.d-none.d-md-block: +translate("Courses run 100% remotely")

              .history-line.justify-content-between.row.text-center.text-shadow-white.pb-3.d-none.d-md-flex
                div.flex-grow-1
                  .line
                    .circle
                    hr
                div.flex-grow-1
                  .line
                    .circle
                    hr
                div.flex-grow-1
                  .line
                    .circle
                    hr
                div.flex-grow-1
                  .line
                    .circle
                    hr.arrow
                div.flex-grow-1
                .col-1

              .history-line.justify-content-between.row.text-center.text-shadow-white
                .col-md-2
                .col-md-2
                  div.d-md-block.d-none.font-weight-bold.h3-md 2017
                  div.d-md-block.d-none: +translate("New Campuses in Düsseldorf & Hamburg")
                .col-md-2.flex-column.justify-content-end
                  div.d-md-none.font-weight-bold.h3-md 2018
                  div.d-md-none: +translate("Partnership with Facebook")
                .col-md-2
                  div.font-weight-bold.h3-md 2019
                  div: +translate("Launched Online Marketing course and Leipzig Campus")
                .col-md-2



            section#stats.section-counter.py-5.mb-5.row
              div.col-lg-9
                //-iframe(frameborder='0', height='100%', width='100%', src='https://youtube.com/embed/BLUfMfcN82c?controls=0&showinfo=0&autohide=1')
                .bg-primary.rounded
                  img.rounded.h-100.w-100.object-fit-cover.half-transparent(alt="people programming" src='/media/bg4.jpg')
              .col-lg-3
                .p-3.h-100.d-flex.flex-column.justify-content-center
                  i.h3.m-0
                    ="\""
                    = __("The Digital Career Institute was born as an initiative to integrate refugees into digital jobs. Today it is committed to train anyone who wants to pursue a tech career.")

              .container.container-counter.mt-4
                .col-12.py-5
                  .row
                    .col-sm-6.col-md-3
                      .counter-item
                        .counter-number.font-weight-bold
                          h2.display-1
                            span.counter-count=locals.settings.landingpage_archivements_students || 600
                            = "+"
                        h4.font-weight-bold: +translate("Students")
                    .col-sm-6.col-md-3
                      .counter-item
                        .counter-number.font-weight-bold
                          h2.display-1
                            span.counter-count=locals.settings.landingpage_archivements_courses || 50
                            = "+"
                        h4.font-weight-bold
                          +translate("Courses started")
                    .col-sm-6.col-md-3
                      .counter-item
                        .counter-number.font-weight-bold
                          h2.display-1
                            span.counter-count=locals.settings.landingpage_archivements_tours || 300
                            = "+"
                        h4.font-weight-bold: +translate("Company tours")
                    .col-sm-6.col-md-3
                      .counter-item
                        .counter-number.font-weight-bold
                          h2.display-1
                            span.counter-count=locals.settings.landingpage_archivements_locations || 5
                        h4.font-weight-bold: +translate("Locations")


      section#stories.my-5.offset_title.position-relative
        header.offset_header.text-right
          .d-inline-block.position-relative
            .bluepolygon.z-minus.left(style="transform: rotate(-45deg) skew(-20deg, 10deg) translate(0em, -4em)")
            h2.position-relative.d-inline-block.display-1.text-center.text-white.mr-3
              +translate("Stories")

        if stories
          - storysWithTestimonial = stories
          if storysWithTestimonial.length > 0
            .container
              .mx-lg-5
                .mx-lg-5.px-lg-2
                  .py-5
                    h2.pb-3.bar-bottom.mb-5
                      =__("What companies")
                      span.badge.badge-primary-trans.text-primary.font-weight-normal.mx-1=__("love")
                      =__("about our graduates")
            #careersuccesscarousel.carousel.slide.mb-5.pt-3.pb-5(data-ride="carousel")
              .carousel-inner
                each story, index in storysWithTestimonial
                  .carousel-item(class= index === 0 ? ` active` : ``)
                    .container
                      .mx-lg-5
                        .mx-lg-5.px-lg-2
                          .bg-white.p-4.rounded-md.border.pb-5
                            if user && story && user.userId === story.userId || user && user.admin === "true"
                              a.position-absolute.right.bottom.btn.btn-outline-primary.z-foreground(href=`/admin/stories/edit/${story.slug}`) Edit
                                
                            div.position-relative
                              .p-5.story-item
                                blockquote.blockquote.z-1
                                  .quotesign.text-primary.z-minus
                                    include ../assets/icons/om_quote.svg
                                  =story.excerpt
                              .d-flex.justify-content-end.align-items-end
                                
                                div.text-right.px-3
                                  h3=story.subtitle
                                  h4.font-italic=story.workPosition
                                a.stretched-link.text-right.rounded-circle.overflow-hidden(href=`/stories/${story.slug}` style=`box-shadow: 3px 3px ${course && course.coloraccent ? course.coloraccent : `#1f3fc7 !important`};`)
                                  img.mw-150.object-fit-contain.w-8.square(src="/media/pixel.gif" style=`background-image: url('/images/${story.avatar}'); box-shadow: 3px 3px ${course && course.coloraccent ? course.coloraccent : `#1f3fc7 !important`}`)

                if storysWithTestimonial.length > 1
                  ol.carousel-indicators
                    each story, index in storysWithTestimonial
                      li(data-target="#careersuccesscarousel" data-slide-to=index class=index==0 ? " active": "")

                if storysWithTestimonial.length > 1
                  a.carousel-control-prev(href="#careersuccesscarousel" role="button" data-slide="prev")
                    span.carousel-control-prev-icon(aria-hidden="true")
                    span.sr-only Previous
                  a.carousel-control-next(href="#careersuccesscarousel" role="button" data-slide="next")
                    span.carousel-control-next-icon(aria-hidden="true")
                    span.sr-only Next
        .pt-4.text-center
          a.btn.btn-lg.btn-secondary.mx-5(href="/stories"): +translate("Show all Stories")

      if events
        section#events.bg-light.py-5
          .container
            h2.display-1.text-center: +translate("Upcoming events")
            h3.mb-5.text-center.text-muted: +translate("Meet us in person in several locations in Germany")
            .row.mx-md-5
              each event in events
                +singleEvent(event)

          .text-center
            a.btn.btn-lg.btn-secondary.mx-5(href='/events/'): +translate("All Events")
      section.py-5.section-services#partners
        .container.py-5.text-center
          h2.display-1.text-center.mb-5: +translate("Our Partners")
          each partner in partners
            if partner.link
              a(href=partner.link target="_blank" rel="noopener")
                img.partners-logo.w-100.mw-150.mh-150.object-fit-cover(alt=partner.title, src="/images/" + partner.partnerlogo)
            else
              img.partners-logo.w-100.mw-150.mh-150.object-fit-cover(alt=partner.title, src="/images/" + partner.partnerlogo)
      section.call-to-action.pt-5.bg-dark.overflow-hidden.position-relative.z-0.d-flex.flex-column.justify-content-center.pb-200
        .z-1.container.text-white
          h2.mb-5: +translate("Join the Tech Disruption at DCI")
          .row.mb-5
            .col-md-6
              .shape-md-outside
              div.right-shape-md: +translate("Do you want to become one of the digital pioneers and show your creativity to the world, or change careers Then join entrepreneurs and disruptors at DCI")
            .col-md-6
              .shape-md-outside.shape-left
              div.left-shape-md: +translate("Are you a company looking to hire Grads? or would you like to become one of our partner companies and host company tours? Then ..")
          .text-center.mb-5
            a.btn.btn-lg.btn-secondary.mb-3.mx-5(href='/contact', data-toggle='modal', data-target='#contactFormModal'): +translate("Apply now")
            a#calltoaction.btn.btn-lg.btn-tertiary.mb-3.mx-5(href='/tour')=__("Become a Hiring Partner")
        canvas.z-minus#polygons(width="1000", height="400")



