extends layout.pug
block content
  .section
    if currentPath == "/"
      +navigation
    .content.overflow-hidden
      section.homeSection.d-flex.position-relative.py-5.bg-light-grey
        div.mainHome.d-flex.w-100.z-1.py-5
          div.m-auto.container.py-5
            .row
              .col-md-6.py-5
                h1.font-weight-bold.display-1=__('Start your')
                h2.mb-5.display-1.font-weight-bold=__('Digital career')
                p.subtitle.subtitle-jumbotron.h2.mb-5=__("Learn digital skills with us to get the most fulfilling jobs")
                .d-flex
                  a.mb-3.btn.btn-lg.btn-secondary.mr-2.mr-md-4(href='#ourcourses', role='button')=__("Browse Courses")
                  button.mb-3.btn.btn-lg.btn-secondary(data-toggle='modal', data-target='#contactFormModal')=__("Contact us")
              .col-md-6.py-5
                img.w-100(src="/media/hero.png", alt="")

      section#ourcourses.position-relative.offset_title.pb-3
        header.offset_header.text-center
          .d-inline-block.position-relative
            .bluepolygon.z-minus
            h2.position-relative.d-inline-block.display-1.text-center.text-white
              =__("Our courses")
        .container.pt-5.text-center
          .row.mx-md-5.justify-content-center
            each course in courses
              .col-md-6.col-lg-4.mb-5.mb-sm-4.floatings
                .bg-white.p-4.text-center.hover-shadow.h-100.d-flex.flex-column
                  a.card-link.d-block(href="/courses/" + course.slug).flex-grow.justify-content-between.h-100
                    .m-3.row.position-relative
                      .col-10.offset-1.col-md-8.offset-md-2.align-items-center.my-4
                        img.object-fit-cover.img-fluid.square(src="/media/pixel.gif" alt=course.headline style="background-image: url('/images/" + course.icon + "')")

                    h4.service-title= course.headline
                    p.text-muted=course.title
                  div
                    hr
                    a(href="/courses/" + course.slug)=__("View course details")
          a.z-1.btn.btn-lg.btn-secondary(href='/courses/', role='button', aria-pressed='true')=__("All") + " " + __("Courses")

      section#mission.bg-light
        .position-relative.offset_title
          header.offset_header.text-left
            .d-inline-block.position-relative
              .bluepolygon.z-minus.right
              h2.position-relative.d-inline-block.display-1.text-center.text-white.ml-3
                =__("Mission")


          .position-relative.container.overflow-hidden.my-5
            .history-line.row.text-center.text-shadow-white
              .offset-md-1
              .col-md-2.d-flex.flex-column.justify-content-end
                div.font-weight-bold.h3-md 2016
                div 1st Campus in Berlin
              .col-md-2
                div.d-md-none.font-weight-bold.h3-md 2017
                div.d-md-none New Campuses in Düsseldorf & Hamburg
              .col-md-2.flex-column.justify-content-end
                div.d-none.d-md-block.font-weight-bold.h3-md 2018
                div.d-none.d-md-block Partnership with Facebook
              .col-md-2

            .history-line.row.text-center.text-shadow-white.pb-3.d-none.d-md-flex
              .offset-md-1
              .col-md-2
                .line
                  .circle
                  hr
              .col-md-2
                .line
                  .circle
                  hr
              .col-md-2
                .line
                  .circle
                  hr
              .col-md-2
                .line
                  .circle
                  hr.arrow

            .history-line.row.text-center.text-shadow-white
              .offset-md-1
              .col-md-2
              .col-md-2
                div.d-md-block.d-none.font-weight-bold.h3-md 2017
                div.d-md-block.d-none New Campuses in Düsseldorf & Hamburg
              .col-md-2.flex-column.justify-content-end
                div.d-md-none.font-weight-bold.h3-md 2018
                div.d-md-none Partnership with Facebook
              .col-md-2
                div.font-weight-bold.h3-md 2019
                div Launched Online Marketing course and Leipzig Campus



            section#stats.section-counter.py-5.mb-5.row
              div.col-lg-9
                //-iframe(frameborder='0', height='100%', width='100%', src='https://youtube.com/embed/BLUfMfcN82c?controls=0&showinfo=0&autohide=1')
                .bg-primary.rounded
                  img.rounded.h-100.w-100.object-fit-cover.half-transparent(alt="people programming" src='/media/bg4.jpg')
              .col-lg-3
                .p-3.h-100.d-flex.flex-column.justify-content-center
                  i.h3.m-0
                    ="\""
                    = __("The Digital Career Institute was born as an initiative to integrate refugees into digital jobs. Today it is committed to train anyone who wants to pursue a tech career.")

              .container.container-counter.mt-4
                .col-12.py-5
                  .row
                    .col-sm-6.col-md-3
                      .counter-item
                        .counter-number.font-weight-bold
                          h2.counter-count.display-1 300
                        h4.font-weight-bold=__("Students")
                    .col-sm-6.col-md-3
                      .counter-item
                        .counter-number.font-weight-bold
                          h2.counter-count.display-1 30
                        h4.font-weight-bold=__("Courses started")
                    .col-sm-6.col-md-3
                      .counter-item
                        .counter-number.font-weight-bold
                          h2.counter-count.display-1 260
                        h4.font-weight-bold=__("Company tours")
                    .col-sm-6.col-md-3
                      .counter-item
                        .counter-number.font-weight-bold
                          h2.counter-count.display-1 4
                        h4.font-weight-bold=__("Locations")


      section#stories.my-5.offset_title.position-relative
        header.offset_header.text-right
          .d-inline-block.position-relative
            .bluepolygon.z-minus.left
            h2.position-relative.d-inline-block.display-1.text-center.text-white.mr-3
              =__("Stories")
        +storylist
        .pt-4.text-center
          a.btn.btn-lg.btn-secondary.mx-5(href="/stories")=__("Show all Stories")

      if events
        section#events.bg-light.py-5
          .container
            h2.display-1.text-center=__("Upcoming events")
            h3.mb-5.text-center.text-muted=__("Meet us in person in several locations in Germany")
            .row.mx-md-5
              each event in events
                .col-sm-6
                  +singleEvent(event)

          .text-center
            a.btn.btn-lg.btn-secondary.mx-5(href='/events/')=__("All Events")
      section.py-5.section-services
        .container.py-5.text-center
          h2.display-1.text-center=__("Our Partners")
          h3.mb-5.text-center.text-muted=__("Meet our partners")
          each partner in partners
            if partner.link
              a(href=partner.link target="_blank")
                img.partners-logo.w-100.mw-150.mh-150.object-fit-cover(alt=partner.title, src="/images/" + partner.partnerlogo)
            else
              img.partners-logo.w-100.mw-150.mh-150.object-fit-cover(alt=partner.title, src="/images/" + partner.partnerlogo)
      section.call-to-action.bg-dark.overflow-hidden.position-relative.z-0.d-flex.flex-column.justify-content-center
        .z-1.container.text-white
          h2.mb-5=__("Join the Tech Disruption at DCI")
          .row.mb-5
            .col-md-6
              p=__("Do you want to become one of the digital pioneers and show your creativity to the world, or change careers Then join entrepreneurs and disruptors at DCI")
            .col-md-6
              p=__("Are you a company looking to hire Grads? or would you like to become one of our partner companies and host company tours? Then ..")
          .text-center
            a.btn.btn-lg.btn-secondary.mx-5(href="/stories")=__("Apply now")
        canvas.z-minus#polygons(width="1000", height="400")


      section#contact.bg-light.py-5
        .container.py-5
          .px-lg-5
            .px-lg-5
              h2.display-1.text-center=__("Contact us")
              p.mb-5.text-center.text-muted=__("Let’s connect! Our admissions team will call you soon to chat about our courses and your goals")
              .px-md-5
                .px-md-5
                  .px-sm-5.mb-5
                    +contactform

