extends layout.pug
block content
  .overflow-hidden
    .container
      .jumbotron.container.mb-0.px-3.bg-light.pb-0.bg-transparent.z-1.position-relative
        .row
          .col-md-6.py-5.pr-0.pr-sm-5
            h1.pt-5=__("Digital Careers Begin at the DCI.")
            p.mt-5.mb-5=__("Certified and practical training. Language courses. Career service.  Our all-round service for your customer.")
            a.btn.btn-lg.btn-secondary.mb-3.z-foreground(href=`${locale !== 'en' ? `/` + locale : ``}/#courses`, data-toggle='modal', data-target='#contactFormModal' title="Contact us")=__("Contact us")

          .col-md-6.d-none.d-md-block
            .bg-primary.bg-panel.h-50.position-absolute.bottom.shift-right-percent.w-300.z-minus.shift-md-reset
            .pb-5
              .px-5.px-lg-0.px-lg-5.px-sm-5
                .px-5.px-md-0.px-lg-5.px-sm-5.position-relative.z-foreground.pt-5.pt-lg-0
                  .bg-primary.floatings.shift-bottom
                    picture.w-100.pb-md-0.three-quarter-transparent
                      source(media="(max-width: 767px)" sizes="1px" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7 1w")
                      source(media="(min-width: 768px)" sizes="300px" srcset="/media/jobcenter_header1-600.jpg 600w, /media/jobcenter_header1-300.jpg 300w")
                      img.w-100(src="/media/jobcenter_header1-600.jpg" alt="People working at computer")

                .floatings.d-none.d-lg-block
                  .bg-primary.shift-md-right-percent.pb-5.pb-md-0.mt-n5
                    picture.w-100.pb-md-0.three-quarter-transparent
                      source(media="(max-width: 991px)" sizes="1px" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7 1w")
                      source(media="(min-width: 992px)" sizes="600px" srcset="/media/jobcenter_header2-600.jpg 600w")
                      img.w-100(src="/media/jobcenter_header2-600.jpg" alt="People working at computer")
    if partners
      .bg-light.text-center
        .container
          - partnersWithTestimonialsShown = partners.filter(p => !p.is_alumni_employer).splice(0, 8)
          if partnersWithTestimonialsShown.length > 0
            p.m-0.pt-4.pb-3.font-weight-bold=__("Our Partners")
            .row.justify-content-center.pb-5
              each partner, index in partnersWithTestimonialsShown
                //- .splice(0,6)
                .col-md-3.col-6.text-center.my-4.d-flex.flex-column.justify-content-center.align-items-center
                  img.mw-150.object-fit-contain.partners-logo(alt=partner.title, src="/images/" + partner.partnerlogo)

    .w-100.d-flex.justify-content-center.justify-content-lg-start.mb-5.mb-md-0
      .marker.w-8.h-7.bg-primary.d-flex.justify-content-center.align-items-center.text-white
        include ../assets/icons/cross.svg
    .container.mt-5.mt-xl-0.text-center.text-lg-left
      .row
        .col-lg-6.d-flex.flex-column.justify-content-center
          h2.mb-3=__("Who we are")
          p=__("The Digital Career Institute gGmbH is a non-profit, Certqua AZAV-certified educational institution that specializes in offering continuing education courses in the digital field or for professions in the field of information and communication technology (ICT). What began as a small initiative to integrate refugees into the German labor market is now an established educational institute with over 100 employees throughout Germany. We benefit from the professional expertise and many years of experience of our founders, colleagues and lecturers, who are also strongly networked in the industry.")
        .col-lg-6.text-center.order-lg-12.mb-5.mb-5.mb-lg-0.mt-5.mt-lg-0
          .px-5.mb-4.text-left
            .px-sm-5.px-lg-0.px-lg-5.text-left.text-lg-center
              .px-5.px-lg-0
                img.w-100.w-150(src="/media/azav.png", alt="azav zugelassen")

    - ceo = employees.find(e => e.feature_on_jobcenter)
    if ceo
      .container.position-relative.mb-3.my-5
        .row.overflow-hidden
          .offset-lg-2.col-lg-10.pb-4.pt-5.d-flex.flex-column.justify-content-between.w-100.bg-light-blue.bg-panel.pl-md-0.order-12.order-md-1
            .row
              .col-md-10
                .position-relative.px-3.px-md-5
                  blockquote.blockquote.mb-0
                    p.text-muted=ceo.content

                  .text-right
                    div.font-weight-bold=ceo.name
                    span.font-weight-bold.text-muted= ceo.position

              .col-md-2.d-flex.flex-column.justify-content-end
                a.text-dark.stretched-link(href=`/stories/${ceo.slug}` title=ceo.name)
                  .mw-150.ml-auto
                    +storyImages(ceo, 'col')

    .marker.w-8.h-7.bg-primary.d-flex.justify-content-center.align-items-center#courses.text-white
      include ../assets/icons/arrow_fat.svg
    if courses
      .container.mt-5.mt-xl-0
        .row
          .col-md-6.mb-5
            h2.mb-3=__('Our courses')
            p=__("We offer a range of courses that help our students enter the job market and future-proof their careers.")
        .row.justify-content-center
          each course in courses
            +courseOverviewCard(course)
    .pb-5
    //- .d-flex.justify-content-end
    //-   .marker.w-8.h-7.bg-primary.d-flex.justify-content-center.align-items-center
    //-     .rotate-135.text-white
    //-       include ../assets/icons/arrow_fat.svg

    .container.my-5.mt-xl-0
      h2.mb-3=__("Find your contact person") 
      .mb-3=__("We are always there for you!")
      .mb-3=__("Select location")
      .row.pb-5.pb-md-0
        .col-md-5.pr-3.pr-sm-5
          .pr-0.pr-sm-5
            .customselect.mr-0.mr-md-5
              select.text-center.pr-5(style="padding-right: 80px !important" class="jobcenter-location-select")
                each location in locations.filter(l => l.isCampus)
                  option(data-address=`${location.street}`,data-location=`${location.zip} ${location.name}` data-phone=`${location.phone}`, data-email=`${location.email}`)=location.name
          .pt-5.pr-5.d-flex.justify-content-center.flex-column.align-items-center.text-center
            .w-5.h-5.text-muted.mb-4
              include ../assets/icons/jobcenter_location.svg
            - firstLocation = locations.filter(l => l.isCampus)[0]
            small#jobcenter_address=`${firstLocation.street}`
            small#jobcenter_location=`${firstLocation.zip} ${firstLocation.name}`
            .p.text-muted.d-none.d-md-block.mb-0
              a.small#jobcenter_email.text-dark(href=`mailto:${firstLocation.email}` title="Campus Email")=firstLocation.email=`${firstLocation.email}`  
            small#jobcenter_phone=`${firstLocation.phone}`              
        .col-md-7.px-5.px-md-0
          each location, index in locations
            .shadow-sm.shadow-sm-md-none
              .row.jobcenter-location-employee.mb-5.mb-md-4(class=index != 0 ? "hidden": "",  data-location=location.name)
                each employee, index2 in location.contactEmployee
                  .col-md-3.mb-4.mb-md-5
                    .px-0.px-lg-3.pt-4.mw-150.mx-auto
                      +storyImages(employee, 'col')
                  .col-md-9.d-flex.flex-column.justify-content-center.text-center.text-md-left.mb-4.mb-md-5
                    h6.font-weight-bold=employee.name
                    .d-flex.flex-md-column.justify-content-center.mb-4.mb-md-0
                      if employee.phone
                        a.h-3.w-3.mt-3.mb-1.bg-primary-light.circle.d-md-none(href=`tel:${employee.phone}` title="Employee Phone")
                          include ../assets/icons/phone.svg
                        .position-relative.z-1
                          p.text-muted.mb-1.d-none.d-md-block
                            span.font-weight-bold Tel: 
                            a.text-dark(href=`tel:${employee.phone}` title="Employee Phone")=employee.phone
    .bg-light.position-relative.overflow-hidden.mb-3.py-5
      .container
        .position-absolute.bg-panel.bg-primary.left.bottom.top.shift-left-percent.w-100
        .row
          .col-md-6
            .p-5.pl-md-0
              div.mb-4
                .p-3.bg-primary.d-inline-block.text-white
                  .font-weight-bold.font-size-120.px-4
                    =__("Sustainable")
              p.pt-2.mb-5=__("The digital sector is one of the fastest growing industries in Germany and is proving itself to be a sustainable and crisis-proof industry, especially now.")
          .col-md-6.text-white
            .p-5
              div.mb-4
                .p-3.bg-white.d-inline-block
                  .font-weight-bold.text-primary.font-size-120.px-4
                    =__("Digital")
              p.pt-2.mb-5=__("Job profiles of our graduates include: Programmer, IT Consultant, Web Designer, Online Marketing Manager, Social Media Manager and many more.")

    .marker.w-8.h-7.bg-primary.d-flex.justify-content-center.align-items-center
      include ../assets/icons/circle.svg
    if stories
      - storysWithTestimonial = stories
      if storysWithTestimonial.length > 0
        .container.mt-5.mt-xl-0
          h2.pb-3
            =__("Successstories")
          p=__("See what our participants say")

          +successCarousel(stories)

            //- if storysWithTestimonial.length > 1
            //-   a.carousel-control-prev(href="#careersuccesscarousel" role="button" data-slide="prev")
            //-     span.carousel-control-prev-icon(aria-hidden="true")
            //-     span.sr-only Previous
            //-   a.carousel-control-next(href="#careersuccesscarousel" role="button" data-slide="next")
            //-     span.carousel-control-next-icon(aria-hidden="true")
            //-     span.sr-only Next

    .pb-200