extends layout.pug
block content
  .jumbotron.jumbotron-fluid.jumbotron-singleCourse.text-center.bg-transparent
    .bg-primary.position-fixed.left.top.z-minus.h-100.w-100
      video.half-transparent.w-100.h-100.object-fit-cover(autoplay='', muted='', loop='')
        source(src='/media/video.mp4', type='video/mp4')

    .jumbotron-courses-container.text-white
      h1.display-1.mt-5.mb-3.text-white Would you like to work with DCI?
      p.lead.mb-3 We offer on a roling basis different jobs in teaching and administration at DCI. Become part of an amazing team in one of German’s most interesting social impact companies.
    
  .container.bg-white
    .row.mt-5.text-left
      .col-md-4.mb-3
        .sticky-top.row.pt-2
          .col-6
            nav#courseScrollspy
              ul.nav.nav-pills.border-0mt-2
                each jobs, department in sortedJobs
                  li.nav-item.w-100
                    - theDepartment = department !== 'undefined' ? department : 'Initiative'
                    a.scrollbutton.nav-link.nav-link-spy(href='#'+theDepartment)= theDepartment
          .col-6
            ul.nav.nav-pills.border-0.flex-column
              li.nav-item
                a.nav-link(href="/jobs" class=((currentPath === "/jobs/" && !query.location) ? "active" : ""))="All"
              each location in locations
                li.nav-item
                  a.nav-link(class=(query.location === location.name ? "active" : "") href="/jobs?location="+location.name)=location.name
      .col-md-8
        .row
          each jobs, department in sortedJobs
            - theDepartment = department !== 'undefined' ? department : 'Initiative'
            .w-100(id=theDepartment)
              h1.pt-3.sticky-top.bg-white= theDepartment
              each job in jobs
                a.d-block.cursor-pointer(href="/jobs/"+job.slug)
                  .p-3.mb-3.bg-light.border-0.hover-shadow
                    h2.mr-3=job.name
                    p
                      span.mr-2 Location:
                      each location in job.locations
                        span.badge.badge-primary.mr-2=location.name
                        
          //- +joblist(true)
            
