include mixins/navigation
include mixins/landingpage/ourCoursesSection
include mixins/landingpage/testimonialsDevugees
include mixins/landingpage/statsCounter
include mixins/landingpage/quote
include mixins/landingpage/upcomingEvents
include mixins/landingpage/partners
include mixins/landingpage/footer
include mixins/storylist
include mixins/courselist
include mixins/pagelist
include mixins/joblist
include mixins/singleEvent
include mixins/singleEmployee
include mixins/contactform
include mixins/dataPrivacy
include mixins/storyForm
include mixins/courseForm
include mixins/singleCourse
include mixins/landingpage/home
include mixins/singleStory
include mixins/newsletter
include mixins/pageForm
include mixins/formLocation
include mixins/menuFooter
include mixins/employeeForm
include mixins/partnerForm
include mixins/landingpage/video

doctype html
//saved from url=(0051)https://getbootstrap.com/docs/4.0/examples/sign-in/
html.h-100(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86')
    meta(name='description', content='Start your digital Career. Learn digital skills with us to get the most fulfilling jobs. At our Institute you learn the most relevant technology skills of today from Web Development, Digital Marketing, Product Management to Data.')
    meta(name='keywords', content='Web Development, Digital Marketing, Product Management, Data Science, School, Jobs')
    meta(property='og:locale', content='en_GB')
    meta(property='og:locale:alternate', content='de_DE')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Digital Career Institute')
    meta(property='og:description', content='Start your digital Career. Learn digital skills with us to get the most fulfilling jobs.')
    meta(property='og:image', content='/assets/media/team.jpg')
    meta(property='og:url', content='https://digitalcareerinstitute.org')
    meta(property='og:site_name', content='DCI Digital Career Institute')
    meta(name='twitter:card', content='/assets/media/logo.png')
    meta(name='twitter:title', content='Home - DCI Digital Career Institute')
    meta(name='twitter:site', content='@DevugeesOrg')
    meta(name='twitter:creator', content='@DevugeesOrg')
    meta(name="msapplication-TileColor", content="#ffffff")
    meta(name="theme-color", content="#ffffff")

    title=title

    link(rel="stylesheet", href="/frontend.css")
    link(rel="apple-touch-icon", sizes="180x180", href="/assets/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/assets/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/assets/favicon-16x16.png")
    link(rel="manifest", href="/assets/site.webmanifest")
    link(rel="mask-icon", href="/assets/safari-pinned-tab.svg", color="#5bbad5")
  

  body.h-100(data-spy='scroll', data-target='#courseScrollspy', data-offset='1', class=pathclass+(currentPath.includes('admin') ? ' admin mb-5' : '' ))

    if messages
      - const menulocations = Object.keys(locals.messages)
        each menulocation in menulocations
          each message in messages[menulocation]
            .flash.m-0(class=`alert fade show alert-${menulocation} ${menulocation === 'error' ? 'alert-danger' : ''}`)
              != message
              button.close.ml-3(type='button', data-dismiss='alert', aria-label='Close')
                span(aria-hidden='true') ×

    .h-100.d-flex.flex-column
      div.container
        if currentPath !== "/"
          +navigation
      .flex-grow-1(class=currentPath.includes('admin') ? ' bg-light mb-5' : '' )
        block content
      if !currentPath.includes('admin')
        +footer
      if user
        +menuFooter
      

    #contactFormModal.modal(tabindex='-1', role='dialog', aria-labelledby='contactFormModal', aria-hidden='true')
      .modal-dialog.modal-dialog-centered
        .modal-content.bg-light.border-radius-0
          .p-4
            .mb-2
              h2.display-4.text-center.text-uppercase Contact us!
              p.mb-3.text-center.text-muted Let’s connect! Our admissions team will call you soon to chat about our courses and your goals.
            +contactform
      .modal#dataPrivacy
        +dataPrivacy

    script(src="/frontend.bundle.js")
    if currentPath.includes('admin')    
      script(src="/backend.bundle.js")

    if live
      // Global site tag (gtag.js) - Google Analytics
      script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-54516992-1')
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-54516992-1');
      
      // Facebook Pixel Code
      script.
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1296683973774299');
        fbq('track', 'PageView');
      noscript
        img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=1296683973774299&ev=PageView&noscript=1')
      // End Facebook Pixel Code
