include mixins/navigation
include mixins/landingpage/ourCoursesSection
include mixins/landingpage/testimonialsDevugees
include mixins/landingpage/statsCounter
include mixins/landingpage/quote
include mixins/landingpage/upcomingEvents
include mixins/landingpage/partners
include mixins/landingpage/footer
include mixins/storylist
include mixins/pagelist
include mixins/eventlist
include mixins/contactform
include mixins/storyForm
include mixins/courses/singleCourse
include mixins/landingpage/getinvolved
include mixins/landingpage/home

doctype html
//saved from url=(0051)https://getbootstrap.com/docs/4.0/examples/sign-in/
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86, shrink-to-fit=yes')
    meta(name='description', content='')
    meta(name='author', content='')
    title Signin Template for Bootstrap
    link(rel='stylesheet', href='/assets/bootstrap/dist/css/bootstrap.min.css')
    //link (rel='stylesheet', href="/assets/@fortawesome/fontawesome-free/css/fontawesome.mincss")
    //link(rel="stylesheet", href="/assets/global.css")
    link(rel="stylesheet", href="/assets/footer.scss")
    link(rel="stylesheet", href="/assets/singleCourse.css")
    //link(rel="stylesheet", href="/assets/storylist.css")

    //TODO this should be the only stylesheet we require. All above should be removed
    link(rel="stylesheet", href="/style.css")
    // Custom styles for this template

    //favicons
    link(rel="apple-touch-icon", sizes="180x180", href="/assets/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/assets/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/assets/favicon-16x16.png")
    link(rel="manifest", href="/assets/site.webmanifest")
    link(rel="mask-icon", href="/assets/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#ffffff")
    meta(name="theme-color", content="#ffffff")
  

  body(data-spy='scroll', data-target='#myScrollspy', data-offset='1', class=pathclass+(currentPath.includes('admin') ? ' admin' : '' )) 
    if message
      .alert.alert-dismissible.fade.show(role='alert', class=color, style="z-index: 1")
        strong= message
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') ×

    +navigation
    block content
    if !currentPath.includes('admin')
      +footer
    script(src="/frontend.bundle.js")
  
    
