extends layout.pug
block content
  .jumbotron.container.bg-white.mb-0.mb-md-5
    .py-5
      .row 
        .col-md-6.order-12.order-md-1
          h1.mt-5.mb-3=__("Become our Hiring Partner")
          p.mb-3=__("We connect companies to the most talented Web Developers and Online Marketers.")
          .mt-5
            .py-md-5
              a.btn.btn-secondary.btn-lg.w-100.w-md-auto(href='/contact', data-toggle='modal', data-target='#contactFormModal')
                =__("Join Our Network")
        .col-md-6.order-1.order-md-12
          .floatings
            .px-5.px-md-0
              .px-5.px-md-0
                img.w-100(src="/media/hero_tour.svg", alt="")
  div.bg-primary.mb-5.py-md-4
    .container.section-counter
      .col-12
        .row.text-white.py-4
          .col-6.col-md-3.my-4.my-md-0.border-white.border-right.d-flex.flex-column.justify-content-center
            .counter-item
              .counter-number.font-weight-bold
                h2.display-2.text-white
                  span.counter-count=locals.settings.careersuccesspage_alumni ? locals.settings.careersuccesspage_alumni : user ? "setting not defined" : ""
                  = "+"
              h4.text-white.hyphen.w-100.font-weight-bold.shadowed.center.w-min-width.m-0-auto: +translate("DCI Alumni")
          .col-6.col-md-3.my-4.my-md-0.border-white.border-left.border-right-0.border-right-md.d-flex.flex-column.justify-content-center
            .counter-item
              .counter-number.font-weight-bol
                h2.display-2.text-white
                  span.counter-count=locals.settings.careersuccesspage_students ? locals.settings.careersuccesspage_students : user ? "setting not defined" : ""
                  = "+"
              h4.text-white.hyphen.w-100.font-weight-bold.shadowed.center.w-min-width.m-0-auto
                +translate("DCI Students")
          .col-6.col-md-3.my-4.my-md-0.border-white.border-right.border-left-0.border-left-md.d-flex.flex-column.justify-content-center
            .counter-item
              .counter-number.font-weight-bold
                h2.display-2.text-white
                  span.counter-count=locals.settings.careersuccesspage_companypartners ? locals.settings.careersuccesspage_companypartners : user ? "setting not defined" : ""
                  = "+"
              h4.text-white.hyphen.w-100.font-weight-bold.shadowed.center.w-min-width.m-0-auto: +translate("Company Partners")
          .col-6.col-md-3.my-4.my-md-0.border-white.border-left.d-flex.flex-column.justify-content-center
            .counter-item
              .counter-number.font-weight-bold
                h2.display-2.text-white
                  span.counter-count=locals.settings.careersuccesspage_employmentrate ? locals.settings.careersuccesspage_employmentrate : user ? "setting not defined" : ""
                  = "%"
              h4.text-white.hyphen.w-100.font-weight-bold.shadowed.center.w-min-width.m-0-auto: +translate("Employment rate within 6 months")
  .container.pt-5
    .pb-lg-5
      h2.mb-3.pb-3.mb-4
        =__("What makes our graduates")
        =" "
        =__("stand out")
        = "?"
      .row 
        .col-md-12
          p.text-muted.mb-5=__("Our unique, in-depth courses provide our highly motivated students with a solid foundation. We work with a modern curriculum that incorporates the latest technologies, current trends in marketing and a variety of hands-on projects.")
          p.text-muted.mb-5=__("DCI offers much more than what is normally provided by ordinary bootcamps. Our comprehensive courses are designed to provide students with in-depth knowledge of tech topics. At the end of every DCI course, our students have become well-rounded professionals who are ready to take the next step in their careers.")

      div
        .row.justify-content-center
          each course in courses.filter(c => c.feature_on_companies_page)
            +courseOverviewCard(course, 'col-lg-4 col-md-6')

  .w-100.d-flex.justify-content-center
    .marker.w-8.h-7.d-flex.justify-content-center.align-items-center.text-primary
      .rotate-45
        include ../assets/icons/cross.svg

  .bg-light.py-5
    .container.text-center
      .row
        .col-md-6.offset-md-3
          blockquote.blockquote.mb-0
            .quotesign.text-primary.quarter-transparent
              include ../assets/icons/om_quote.svg
            h2.position-relative.z-1.font-weight-light
              i=__("Did you know: Employers can be reimbursed 50% of the salary paid for half of the time the student is hired.")

  .container.mt-5.text-center.text-md-left
    h2.mb-3.pb-3.mb-4=__( "Additional training" )
    .row 
      .col-md-12
        p.text-muted.mb-5=__("On top of all the technical knowledge, our students will work around their soft skills\: Time management, agile project management and much more.")
  .bg-primary.py-3.container-sm
    .mx-lg-5
      .mx-xl-5
        .row
          .col-6.col-md-4.px-2.py-2.justify-content-md-center.my-2.d-flex.floatings
            .px-md-4.w-100
              .d-flex.bg-white.p-1.align-items-center.rounded.h-100.w-100.flex-md-column
                .mr-0.mr-md-0.px-1.p-md-3.p-lg-5.w-100.square-5.square-md-none
                  .px-md-3
                    include ../assets/media/careersuccess_languages.svg
                small.h-3.d-flex.flex-column.justify-content-center.word-wrap-break-word.hyphen.text-center
                  =__("Soft Skill Training")
          .col-6.col-md-4.px-2.py-2.justify-content-md-center.my-2.d-flex.floatings.justify-content-end
            .px-md-4.w-100
              .d-flex.bg-white.p-1.align-items-center.rounded.h-100.w-100.flex-md-column
                .mr-0.mr-md-0.px-1.p-md-3.p-lg-5.w-100.square-5.square-md-none
                  .px-md-3
                    include ../assets/media/careersuccess_time.svg
                small.h-3.d-flex.flex-column.justify-content-center.word-wrap-break-word.hyphen.text-center
                  =__("Practical Projects")
          .col-6.col-md-4.px-2.py-2.justify-content-md-center.my-2.d-flex.floatings
            .px-md-4.w-100
              .d-flex.bg-white.p-1.align-items-center.rounded.h-100.w-100.flex-md-column
                .mr-0.mr-md-0.px-1.p-md-3.p-lg-5.w-100.square-5.square-md-none
                  .px-md-3
                    include ../assets/media/careersuccess_team_meeting.svg
                small.h-3.d-flex.flex-column.justify-content-center.word-wrap-break-word.hyphen.text-center
                  =__("Agile project management")
          .col-6.col-md-4.px-2.py-2.justify-content-md-center.my-2.d-flex.floatings.justify-content-end
            .px-md-4.w-100
              .d-flex.bg-white.p-1.align-items-center.rounded.h-100.w-100.flex-md-column
                .mr-0.mr-md-0.px-1.p-md-3.p-lg-5.w-100.square-5.square-md-none
                  .px-md-3
                    include ../assets/media/careersuccess_data_analytics.svg
                small.h-3.d-flex.flex-column.justify-content-center.word-wrap-break-word.hyphen.text-center
                  =__("Language courses")
          .col-6.col-md-4.px-2.py-2.justify-content-md-center.my-2.d-flex.floatings
            .px-md-4.w-100
              .d-flex.bg-white.p-1.align-items-center.rounded.h-100.w-100.flex-md-column
                .mr-0.mr-md-0.px-1.p-md-3.p-lg-5.w-100.square-5.square-md-none
                  .px-md-3
                    include ../assets/media/careersuccess_consulting.svg
                small.h-3.d-flex.flex-column.justify-content-center.word-wrap-break-word.hyphen.text-center
                  =__("Job coaching")
          .col-6.col-md-4.px-2.py-2.justify-content-md-center.my-2.d-flex.floatings.justify-content-end
            .px-md-4.w-100
              .d-flex.bg-white.p-2.align-items-center.rounded.h-100.w-100.flex-md-column
                .mr-3.mr-md-0.px-1.p-md-3.p-lg-5.w-100.square-5.square-md-none
                  .px-md-3
                    include ../assets/media/careersuccess_online_lesson.svg
                .h-3.d-flex.flex-column.justify-content-center.word-wrap-break-word.hyphen.text-center
                  =__("Mentoring")

  if partners
    .marker.w-8.h-7.bg-primary.d-flex.justify-content-center.align-items-center.mt-5.text-white
      include ../assets/icons/arrow.svg
    - partnersWithTestimonial = partners.filter(p => p.testimonial_name && p.testimonial_job && p.testimonial_content && p.testimonial_show )
    if partnersWithTestimonial.length > 0
      .container-md
        div.pt-4
          h2.pb-3.mb-1
            =__("Success Stories")
          =__("See what companies are saying about our students.")
        +successCarousel(partnersWithTestimonial)
  else if user
    .text-center
      ="No partners have either defined a testimonial_job, testimonial_name, testimonial_content or are not marked as testimonial_show."

  if partners
    - partnersWithTestimonialsShown = partners.filter(p => p.testimonial_show)
    if partnersWithTestimonialsShown.length > 0
      .mt-5.bg-light.d-none.d-md-block 
        .container.py-5
          h4.text-muted=__("Our Hiring Network")
          h3.mb=__("More than ")
            =locals.settings.careersuccesspage_companypartners
            = "+ "
            =__("company partners ")
            
          - randompartners = [...partnersWithTestimonialsShown]
          - for (let i = randompartners.length - 1; i > 0; i--) {
              - const j = Math.floor(Math.random() * (i + 1));
              - [randompartners[i], randompartners[j]] = [randompartners[j], randompartners[i]];
          - }  
          .mx-lg-5
            .mx-lg-5
              .mx-xl-5
                .row.my-5.justify-content-center
                  each partner, index in randompartners.splice(0,8)
                    .col-lg-3.col-md-4.col-6.text-center.my-4.d-flex.align-items-center.justify-content-center(class=index === 2 || index === 5 ? `justify-content-md-end` : index === 0 || index === 3 ? `justify-content-md-start`: ``)
                      img.mw-150.object-fit-contain(alt=partner.title, src="/images/" + partner.partnerlogo)
  else if user
    .text-center.my-5
      ="No partners are marked as testimonial_show."

  .d-flex.justify-content-end
    .marker.w-8.h-7.bg-primary.d-flex.justify-content-center.align-items-center
      .rotate-90.text-white
        include ../assets/icons/arrow.svg
  .container.my-5
    h2.pb-3.pt-5
      =__("How our hiring partners")
      = " "
      =__("benefit")
      ="?"
    h5.mb-5=__("Our partners benefit from the following all for free!")
    .px-4
      .px-0.px-md-5
        .row.justify-content-center
          .col-md-6.mb-4.floatings
            .py-md-3.h-100
              .h-100.d-flex.flex-column.p-5.justify-content-center.shadow-sm
                h5.font-weight-bold.mb-4=__("Access our student profiles even before graduation")
                p.font-weight-light.font-size-normal-below-md=__("Every 4-8 weeks we have a new graduation class in each of our locations")
          .col-md-6.mb-4.floatings
            .py-md-3.h-100
              .h-100.d-flex.flex-column.p-5.justify-content-center.shadow-sm
                h5.font-weight-bold.mb-4=__("Participate at our events for free")
                p.font-weight-light.font-size-normal-below-md=__("Receive regular invitations to our Final Events and meet our graduates")
          .col-md-6.mb-4.floatings
            .py-md-3.h-100
              .h-100.d-flex.flex-column.p-5.justify-content-center.shadow-sm
                h5.font-weight-bold.mb-4=__("Host a company tour for our students")
                p.font-weight-light.font-size-normal-below-md=__("Show our students what it is like to work in tech by inviting them to your (virtual) offices")
          .col-md-6.mb-4.floatings
            .py-md-3.h-100
              .h-100.d-flex.flex-column.p-5.justify-content-center.shadow-sm
                h5.font-weight-bold.mb-4=__("Hire our graduates")
                p.font-weight-light.font-size-normal-below-md=__("Hire our students for Intern positions, and our graduates for Junior/Trainee positions ")
          .col-md-6.mb-4.floatings
            .py-md-3.h-100
              .h-100.d-flex.flex-column.p-5.justify-content-center.shadow-sm
                h5.font-weight-bold.mb-4=__("Give an Industry Lecture")
                p.font-weight-light.font-size-normal-below-md=__("Share your industry knowledge by holding a lecture on a topic from our curriculum")

  .marker.w-8.h-7.bg-primary.d-flex.justify-content-center.align-items-center
    include ../assets/icons/circle.svg
  .container.text-center.my-5
    .px-4
      .px-0.px-md-5
        .bg-light-blue.p-5
          .mx-md-5
            h5.font-weight-bold.mb-5.mx-md-5=__("Ready to join? Fill in your Development & Marketing Positions")
            a.btn.btn-secondary.btn-lg.w-100.w-md-auto(href='/contact', data-toggle='modal', data-target='#contactFormModal')
              =__("Become a Hiring Partner")

  .pb-5
  .pb-5
  .pb-200
