extends layout.pug
block content
  .jumbotron.jumbotron-fluid.text-center.bg-transparent
    .jumbotron-courses-container
      h1.display-1.mt-5.mb-3=__("Give Us A Tour Of Your Company")
  .container.bg-light.pb-200
    .row.py-3
      .col.py-md-5
        .px-md-5.py-md-5
          .px-md-5
            .px-md-5
              .px-lg-5.pb-lg-5.text-center
                h2.lead.mb-3=__("Show us what you’ve built")
                p.text-muted=__("Building a positive company culture is something to be proud of – to show off even!")
                p.text-muted=__("In the digital world, the physical space can be so important for employees and every Wednesday we show our students what working in a start-up can be like.")
                p.text-muted=__("Are you or your company interested in hosting on of this events? Write us a message!")
                h3.mb-5.text-muted=__("We offer company tours in the following locations:")
                each location in locations.filter(l => l.isCampus)
                  span.badge.badge-primary.mr-3.mb-3=location.name
              h2.text-center=__("Get in touch!")
              +contactform
