mixin courseOverviewCard(course, classes="col-md-6")
  .floatings.mb-5.mb-md-4(class=classes)
    .p-5.h-100(style=course && course.coloraccent ? `background-color: ${course.coloraccent.replace(/rgb/, "rgba").replace(/\)/, ", 0.33)")}` : `` )
      .py-4.d-flex.flex-column.justify-content-between
        div.word-wrap-break-word
          a.text-dark(href=`/courses/${course.slug}`)
            h5.font-weight-bold=course.headline
            .text-muted.mt-3.mb-5.font-weight-bolder=course.courselength
          if course.startInterval
            .my-3
              span.mr-2="Starts every"+":"
              span.padded-text()=course.startInterval
          if course.courseLanguages
            .my-3
              span.mr-2="Language"+":"
              span.padded-text()=course.courseLanguages
      if currentPath && currentPath.includes('jobcenter')
        if course.jobcenterPdf
          div
            a.text-dark(href=`/images/${course.jobcenterPdf}` target="_blank")
                .d-flex.justify-content-between.align-items-center.mt-4
                  .text-muted="Download complete course curriculum"
                  .w-4.h-4
                    include ../../assets/icons/download.svg
      if currentPath && currentPath.includes('tour')
              if course.companiesPdf
                div
                  a.text-dark(href=`/images/${course.companiesPdf}` target="_blank")
                      .d-flex.justify-content-between.align-items-center.mt-4
                        .text-muted="Download complete course curriculum"
                        .w-4.h-4
                          include ../../assets/icons/download.svg
