mixin courseForm
  form.mb-5.form-signin(method='POST', action=course ? '/admin/courses/update/'+course.slug+'?_method=PUT' : '/admin/courses', enctype="multipart/form-data")
    h2
      =course ? "Edit course" :"Create a new course"
    +adminButtonGroup(course, 'courses')
    .form-group
      .mb-3
        label(for='coloraccent') Color accent
        .input-group.mr-2
          .input-group-prepend.w-100
            label.px-4.input-group-text.text-capitalize.d-block#demo(for='coloraccent' style=`background-color: ${course && course.coloraccent ? course.coloraccent : `rgb(255, 128, 0)`}` ) 
            input#coloraccent.form-control(name='coloraccent', type='text', placeholder='Color accent', value=course ? course.coloraccent : "rgb(255, 128, 0)", autofocus='')

      label.d-block.d-block(for='icon') Course Curriculum PDF
      if course && course.curriculumPdf
        input#curriculumPdf.hidePlaceholder.form-control-file(type='file' name='curriculumPdf')
        span=course.curriculumPdf
      else
        input#curriculumPdf.form-control-file(type='file' name='curriculumPdf')
    if !editpath && course && course.slug
      .mb-3
        label(for='slug')
          | Slug
          button.btn.btn-secondary.badge.ml-2(type='button', data-container='body', data-toggle='popover',  data-trigger="hover",  data-placement='top', data-content='Changing this has negative effects on SEO if it not fresh created. To regenerate the slug, clear the fields and update the record.')
            | ?
        input#slug.form-control(name='slug', type='text', placeholder='Slug', value=course.slug)
    .mb-3
      label.d-block.d-block(for='icon') Course Title Icon
      if course && course.icon
        img.mw-150.mh-150.w-100.mw-150.mh-150.object-fit-cover(src="/images/"+course.icon)
      input#exampleFormControlFile1.form-control-file(type='file' name='icon')

    .mb-3
      label(for='headline') Headline *
      input#headline.form-control(name='headline', type='text', placeholder='Headline', value=course ? course.headline :"" required='', autofocus='')

    .mb-3
      label(for='subheading') Subheading *
      input#subheading.form-control(name='subheading', type='text', placeholder='subheading', value=course ? course.subheading :"" required='', autofocus='')

    .mb-3
      label(for='title') Title
      input#title.form-control(name='title', type='text', placeholder='Title', value=course ? course.title :"" autofocus='')

    .mb-3
      label(for='subtitle') Subtitle
      input#subtitle.form-control(name='subtitle', type='text', placeholder='subtitle', value=course ? course.subtitle :"",  autofocus='')

    .mb-3
      label(for='successStory') Success story
      select#successStory.form-control(for='successStory' name='successStory')
        option(value="") -- Select --
        each story in storys
          option(value=story._id, selected=!!course && !!course.successStory && course.successStory._id.toString() === story._id.toString() ?  "selected" :  false )=story.title

    .mb-3
      label(for='order')
        | Order
      button.btn.btn-secondary.badge.ml-2(type='button', data-container='body', data-toggle='popover',  data-trigger="hover",  data-placement='top', data-content='Defines the order the item is displayed. 0, 1, 2, 3, 4. Try to avoid two items with the same order.')
        | ?
      input#order.form-control(name='order', type='number', placeholder='Order', autofocus='', value=course ? course.order : "")
    .mb-3
      label(for='massnahme') Massnahmenummer
      input#massnahme.form-control(name='massnahmenummer', type='text', placeholder='massnahmenummer', value=course &&course.massnahmeNumber ? course.massnahmeNumber :"")
    div
      label(for='massnahmedetails') Massnahme details
      textarea#massnahmedetails.form-control(name='massnahmedetails', placeholder='massnahmedetails')=course &&course.massnahmeDetails ? course.massnahmeDetails :""

    h3.mt-3 Archivements
    each archivementGroup, i in courseFormConfig.archivementConfig
      .form-group
      label.d-block(for=archivementGroup.for)=archivementGroup.label
      if course && course.archivements[i] && course.archivements[i].icon
        img.mw-150.mh-150(src="/images/"+course.archivements[i].icon)
      input#exampleFormControlFile1.form-control-file(type=archivementGroup.fileField.type name=archivementGroup.fileField.name)

      input.form-control(type=archivementGroup.textField.type , name=archivementGroup.textField.name,  value=course && course.archivements[i] ? course.archivements[i].description : '', placeholder=archivementGroup.textField.placeholder )
    h3.mt-3 Features
    each featuresGroup, i in courseFormConfig.featuresConfig
      .form-group
      label.d-block(for=featuresGroup.fileField.for)=featuresGroup.fileField.label
      if course && course.features[i] && course.features[i].icon
        img.mw-150.mh-150(src="/images/"+course.features[i].icon)
      input.form-control#exampleFormControlFile1.form-control-file(type=featuresGroup.fileField.type name=featuresGroup.fileField.name)

      label(for=featuresGroup.textFieldTitle.for)=featuresGroup.textFieldTitle.label
      input.form-control(type=featuresGroup.textFieldTitle.type, name=featuresGroup.textFieldTitle.name,  value=course && course.features[i] ? course.features[i].title : '', placeholder=featuresGroup.textFieldTitle.placeholder )

      label(for=featuresGroup.textFieldSubtitle.for)=featuresGroup.textFieldSubtitle.label
      input.form-control(type=featuresGroup.textFieldSubtitle.type, name=featuresGroup.textFieldSubtitle.name,  value=course && course.features[i] ? course.features[i].subtitle : '', placeholder=featuresGroup.textFieldSubtitle.placeholder )

    h3.mt-3 Timeline
    each timelineGroup, i in courseFormConfig.timelineConfig
      .form-group
      label(for=timelineGroup.title.name)=timelineGroup.title.label
      input.form-control(type="text", id=timelineGroup.title.name name=timelineGroup.title.name, placeholder=timelineGroup.title.label, value= course && course.timeline[i]? course.timeline[i].title : "")

      .form-group
      label(for=timelineGroup.subtitle.name)=timelineGroup.subtitle.label
      input.form-control(type="text", id=timelineGroup.subtitle.name name=timelineGroup.subtitle.name, placeholder=timelineGroup.subtitle.label, value= course && course.timeline[i]? course.timeline[i].subtitle : "")

      .form-group
      label(for=timelineGroup.time.name)=timelineGroup.time.label
      input.form-control(type="text", id=timelineGroup.time.name name=timelineGroup.time.name, placeholder=timelineGroup.time.label, value= course && course.timeline[i]? course.timeline[i].time : "")

    h3.mt-3 Course available in locations:
    each location in locations
      .custom-control.custom-checkbox
        input.custom-control-input(name="locations" type='checkbox' id=location.name value=location._id  checked=(location.selected))
        label.custom-control-label(for=location.name)=location.name

    .mt-5
      +adminButtonGroup(course, 'courses')
