mixin employeeForm
    - var editPath = currentPath.includes('admin/employees/edit')
      form.mb-5(method='POST', action=editPath ? '/admin/employees/update/'+employee.id+'?_method=PUT' : '/admin/employees', enctype="multipart/form-data")

        h2
          = editPath ? "Edit Employee " :"Create a new Employee"
          .btn-group.ml-3
            if editPath
              a.btn.btn-outline-primary(href="/admin/employees")="Back"
            button.btn.btn-primary(type='submit')=editPath ? "Update" :"Create a new Employee" 
        .form-group
          label.d-block(for='avatar') Employee Icon
          if employee && employee.avatar !== "false"
            img.w-100.mw-150.mh-150.object-fit-cover(src="/images/"+employee.avatar)
          input#avatar.form-control-file(type='file' name='avatar')

        .form-group
          label(for='name') Name
          input#name.form-control(name='name', type='text', placeholder='Name', required='', autofocus='', value=editPath ? employee.name : "")
        
        .form-group
          textarea#content(name='content', placeholder='Optional - Say something about that person' )=editPath ? employee.content : ""

        .form-group
          label(for='position') Position
          input#position.form-control(name='position', type='text', placeholder='Position', required='', autofocus='', value=editPath ? employee.position : "")

        .my-3
          label Person available in locations:
          .d-flex
            each location in locations
              .custom-control.custom-checkbox.mr-3
                input.custom-control-input(name="locations" type='checkbox' id=location.name value=location._id  checked=(location.selected))
                label.custom-control-label(for=location.name)=location.name
        if editPath
          .btn-group
            a.btn.btn-outline-primary(href="/admin/employees/edit/"+employee._id) Edit
            a.btn.btn-outline-primary(href="/employees" target="_blank") Show
            button.btn.btn-primary(type='submit')=editPath ? "Update" :"Create a new Employee" 
            button.btn.btn-outline-danger(type='submit' form='deleteform') Delete
      if editPath
        form#deleteform(method='POST', action='/admin/employees/delete/'+employee._id +'?_method=DELETE')