mixin formLocation
  - var editPath = currentPath.includes('admin/locations/edit')
  form.mb-5.form-signin(method='POST', action=location ?
    '/admin/locations/update/'+location.id+'?_method=PUT' :
    '/admin/locations')

    h2
      =editPath ? "Edit Location " :"Create a new Location"
      .btn-group
        if editPath
          a.btn.btn-outline-primary(href="/admin/locations")="Back"
        button.btn.btn-primary(type='submit')=editPath ? "Update" :"Create a new Location" 
    
    .mb-3
      label(for='inputName') Name
      input#inputName.form-control(name='name', type='text', placeholder='Name', required='', autofocus='' value=editPath ? location.name : "")
      
    .mb-3
      label(for='phone') Phone
      input#street.form-control(name='phone', type='number',
      placeholder='Phone',  autofocus='' value=editPath ?
      location.phone : "")
      
    .mb-3
      label(for='email') Email
      input#street.form-control(name='email', type='email',
      placeholder='Email', autofocus='' value=editPath ?
      location.email : "")
    .mb-3
      label(for='street') Street
      input#street.form-control(name='street', type='text', placeholder='Street',  autofocus='' value=editPath ?  location.street : "")
      
    .mb-3
      label(for='zip') Zip
      input#zip.form-control(name='zip', type='number', placeholder='Zip',  autofocus='' value=editPath ?  location.zip : "")
      
    .mb-3
      label(for='longitude') Longitude
      input#longitude.form-control(name='longitude', type='number', placeholder='Longitude', autofocus='' value=editPath ? location.longitude : "")
      
    .mb-3
      label(for='longitude') Latitude
      input#longitude.form-control(name='latitude', type='number', placeholder='Latitude', autofocus='' value=editPath ?  location.latitude : "")
      
