mixin fullstory(story, index = undefined)
  div.story-item
  .px-3.bg-white.position-relative.rounded.shadow-sm.mb-5
    .row
      .col-md-10.pr-md-0
        .position-relative.pt-5.pb-3.pl-md-3
          blockquote.blockquote.z-1.position-relative
            .quotesign.text-primary.third-transparent.ml-n3.mt-n3
              include ../../assets/icons/om_quote.svg
            p.text-muted.small=story.excerpt

          div(class=index !== undefined && index % 2 === 0 ? `text-left text-md-right` : `text-right`)
            a.text-dark.stretched-link(href=`/stories/${story.slug}`)
              div.font-weight-bold=story.title
              = index
              = story.workPosition

      .col-md-2.d-flex.flex-column.justify-content-end.py-3
        a.text-dark.stretched-link(href=`/stories/${story.slug}`)
          .mw-150(class=index !== undefined && index % 2 === 0 ? `mr-auto` : `ml-auto`)
            +storyImages(story, 'col')
    if user && user.superAdmin === "true" || user && user.admin === "true"
      a.position-absolute.mt-3.right.bottom.btn.btn-outline-primary.z-foreground(href=`/admin/stories/edit/${story.slug}`) Edit