mixin fullstory(story)
  div.story-item
  .px-3.bg-white.position-relative.rounded.shadow-sm.mb-5
    .row
      .col-md-10.pr-md-0
        .position-relative.pt-5.pb-3.pl-md-3
          blockquote.blockquote
            p.text-muted=story.excerpt

          .text-right
            a.text-dark.stretched-link(href=`/stories/${story.slug}`)
              div.font-weight-bold=story.title
              = story.workPosition

      .col-md-2.d-flex.flex-column.justify-content-end.py-5.px-5.px-md-0
        a.text-dark.stretched-link(href=`/stories/${story.slug}`)
          +storyImages(story, 'col')
    if user && user.superAdmin === "true" || user && user.admin === "true"
      a.position-absolute.mt-3.right.bottom.btn.btn-outline-primary.z-foreground(href=`/admin/stories/edit/${story.slug}`) Edit