mixin jobform
  - var editPath = currentPath.includes('admin/jobs/edit')
  form.mb-5(method='POST', action=editPath ? '/admin/jobs/update/'+job.slug+'?_method=PUT' : '/admin/jobs?alert=create')
    
    h2=editPath ? "Edit Job" :"Create a new Job"

    .mb-3
      label(for='name') Name
      input#inputName.form-control(name='name', type='text', placeholder='Name', value=editPath ? job.name :"" required='', autofocus='')

    .mb-3
      label(for='content') Content
      textarea#inputContent.form-control(name='content', placeholder='Content', required='')=editPath ? job.content : "" 
    .my-3
      each location in locations
        .custom-control.custom-checkbox
          input.custom-control-input(name="locations" type='checkbox' id=location.name value=location._id  checked=(location.selected))
          label.custom-control-label(for=location.name)=location.name

    button.btn.btn-lg.btn-primary.mb-3(type='submit')=editPath ? "Update" :"Create a new Job" 


