mixin locationForm
  - var editPath = currentPath.includes('admin/locations/edit')
  form.mb-5.form-signin(method='POST', action=location ?
    '/admin/locations/update/'+location.id+'?_method=PUT' :
    '/admin/locations', enctype="multipart/form-data")

    h2
      =editPath ? "Edit Location " :"Create a new Location"
    
    label.checkbox.text-muted(for='iscampus')
      ="Is physical campus?"
      button.btn.btn-secondary.badge.ml-2(type='button', data-container='body', data-toggle='popover',  data-trigger="hover",  data-placement='top', data-content='If is campus, the location will be featured under /contact. If not - it will be still selectable on the contact form as a location')
        | ?
      input#iscampus(type='checkbox', name='isCampus', value="on", checked=location && !!location.isCampus ? true: false, )
      span.checkmark

    .mb-3
      label(for='inputName') Name
      input#inputName.form-control(name='name', type='text', placeholder='Name', required='', autofocus='' value=editPath ? location.name : "")
      
    .mb-3
      label(for='order')
        | Order
      button.btn.btn-secondary.badge.ml-2(type='button', data-container='body', data-toggle='popover',  data-trigger="hover",  data-placement='top', data-content='Defines the order the item is displayed. 0, 1, 2, 3, 4. Try to avoid two items with the same order.')
        | ?
      input#order.form-control(name='order', type='number', placeholder='Order', autofocus='', value=location ? location.order : "")
    .form-group
      label.d-block(for='avatar') Location Icon
      if location && location.avatar !== "false"
        img.w-100.mw-150.mh-150.object-fit-cover(src="/images/"+location.avatar)
      input#avatar.form-control-file(type='file' name='avatar')
      
    .form-group.mb-3
      each employee in employees
        .custom-control.custom-checkbox
          input.custom-control-input(name="contactEmployee" type='checkbox' id=employee.name value=employee._id  checked=(location && location.contactEmployee.includes(employee._id)) ? true : false)
          label.custom-control-label(for=employee.name)=employee.name
      
    .mb-3
      label(for='street') Street
      input#street.form-control(name='street', type='text', placeholder='Street',  autofocus='' value=editPath ?  location.street : "")
      
    .mb-3
      label(for='zip') Zip
      input#zip.form-control(name='zip', type="text", placeholder='Zip',  autofocus='' value=editPath ?  location.zip : "")
      
    .mb-3
      label(for='longitude') Longitude
      input#longitude.form-control(name='longitude', type='number', placeholder='Longitude', autofocus='' value=editPath ? location.longitude : "", step="any")
      
    .mb-3
      label(for='latitude') Latitude
      input#latitude.form-control(name='latitude', type='number', placeholder='Latitude', autofocus='' value=editPath ?  location.latitude : "", step="any")
      

    .btn-group
      if editPath
        a.btn.btn-outline-primary(href="/admin/locations")="Back"
      button.btn.btn-primary(type='submit')=editPath ? "Update" :"Create a new Location" 