mixin navigation
  if !currentPath.includes('admin')
    .w-100.bg-primary.text-white.p-2.text-center
      div
        =__("Our campuses are running their courses 100% remotely in response to COVID-19.")
      div
        =__("All our events take place virtually as webinars.")
  nav.navbar.navbar-expand-lg.navbar-light.py-0.bg-tranition.px-3.px-md-3.bg-light-grey.bg-md-transparent.flex-column(class=currentPath == "/" ? " position-absolute top w-100 z-foreground pt-4" : "")
    .align-items-stretch(class=currentPath.includes('admin') ? ' container-fluid' : " container" )
      a.navbar-brand.pt-3.pl-3.text-primary.h-60(href="/")
        include ../../assets/media/dci.svg
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsingNavbar3')
        span.navbar-toggler-icon
        span.sr-only="Toggle menu"
      #collapsingNavbar3.navbar-collapse.collapse.w-100.mt-4.mt-md-0.align-items-stretch
        ul.nav.navbar-nav.my-3.my-lg-0.ml-auto.w-100.justify-content-end#headernav
          li.position-relative.nav-item
            a.mx-0.mx-lg-2.nav-link.d-flex.align-items-center.h-100.text-uppercase.z-1(class= currentPath.includes('/courses') && !currentPath.includes('admin') ? "active" : "", href="/courses")
              =__("Courses")
          li.position-relative.nav-item
            a.mx-0.mx-lg-2.nav-link.d-flex.align-items-center.h-100.z-1.text-uppercase(class=currentPath.includes('/events') && !currentPath.includes('admin') ? "active" : "", href='/events')
              =__("Events")
          li.position-relative.nav-item
            a.mx-0.mx-lg-2.nav-link.d-flex.align-items-center.h-100.text-uppercase(class=currentPath.includes("/stories") ? "active" : "", href='/stories')=__("Stories")
          each page in headerPages
            if !!page.prominent
              li.position-relative.nav-item
                a.mx-0.mx-lg-2.nav-link.d-flex.align-items-center.h-100.text-uppercase(class= currentPath === ("/pages/" + page.slug) ? "active" : "" href='/pages/' + page.slug)=page.title

          li.position-relative.nav-item.dropdown
            a.dropdown-toggle.mx-0.mx-lg-2.nav-link.d-flex.align-items-center.h-100.text-uppercase(class=page && page.prominent !== "true" && currentPath.includes("/pages") || currentPath.includes("/about-us") || currentPath.includes("/tour")   ? "active" : "", href="#", data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")=__("Get involved")
            .dropdown-menu.p-0.border-radius-0.shadow-sm(aria-labelledby='navbarDropdownMenuLink')
              a.dropdown-item.nav-link.text-uppercase(href='/about-us/' class=currentPath.includes("/about-us") ? "active" : "")=__("About us")
              a.dropdown-item.nav-link.text-uppercase(class=currentPath.includes("/tour") ? "active" : "" href='/tour')=__("Host our students")
              a.dropdown-item.nav-link.text-uppercase(href='https://dci-jobs.personio.de/' class=currentPath == "/jobs" ? "active" : "")=__("Jobs")
              each page in headerPages
                if !page.prominent
                  a.dropdown-item.nav-link.text-uppercase(class= currentPath === ("/pages/" + page.slug) ? "active" : "" href='/pages/'+ page.slug)=page.title
          li.position-relative.nav-item.dropdown
            a.dropdown-toggle.mx-0.mx-lg-2.nav-link.d-flex.align-items-center.h-100.text-uppercase(class=currentPath.includes("/contact") ? "active" : "", href="#", data-toggle='modal', data-target='#contactFormModal' aria-haspopup="true" aria-expanded="false")=__("Contact")
            .dropdown-menu.p-0.border-radius-0.shadow-sm(aria-labelledby='navbarDropdownMenuLink')
              a.dropdown-item.nav-link.text-uppercase(href="/contact", class=currentPath == "/contact" ? "active" : "")=__("Campuses")
          if locale === "en"
            li.position-relative.nav-item
              a.mx-0.mx-lg-2.nav-link.d-flex.align-items-center.h-100.text-uppercase(href="/i18n/de") DE
          else
            li.position-relative.nav-item
              a.mx-0.mx-lg-2.nav-link.d-flex.align-items-center.h-100.text-uppercase(href="/i18n/en") EN

