mixin navigation
  if currentPath && !currentPath.includes('admin') && locals.settings && locals.settings.announcement_banner_string
    .w-100.bg-primary.text-white.p-2.text-center.z-foreground
      div
        =__(locals.settings.announcement_banner_string)
        if locals.settings && locals.settings.announcement_banner_cta && locals.settings.announcement_banner_cta !== currentPath
          a.btn.btn-link.ml-3.btn-secondary.py-0(href=locals.settings.announcement_banner_cta)=__("Show More")

  nav#nav-primary.navbar.navbar-expand-lg.navbar-light.py-0.bg-tranition.px-3.px-md-3.bg-light-grey.bg-md-transparent.flex-column(class=currentPath == "/" ? " z-foreground " : "")
    .align-items-stretch(class=currentPath && currentPath.includes('admin') ? ' container-fluid' : " container" )
      a.navbar-brand.pt-3.pl-3.text-primary.h-60(href="/")
        include ../../assets/media/dci.svg
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsingNavbar3')
        span.navbar-toggler-icon
        span.sr-only="Toggle menu"
      #collapsingNavbar3.navbar-collapse.collapse.w-100.mt-4.mt-md-0.align-items-stretch
        ul.nav.navbar-nav.my-3.my-lg-0.ml-auto.w-100.justify-content-end#headernav
          li.position-relative.nav-item
            a.mx-0.mx-lg-2.nav-link.d-flex.align-items-center.h-100.z-1(class= currentPath && currentPath.includes('/courses') && !currentPath.includes('admin') ? "active" : "", href="/courses")
              =__("Courses")
          li.position-relative.nav-item
            a.mx-0.mx-lg-2.nav-link.d-flex.align-items-center.h-100.z-1(class=currentPath && currentPath.includes('/events') && !currentPath.includes('admin') ? "active" : "", href='/events')
              =__("Events")
          li.position-relative.nav-item
            a.mx-0.mx-lg-2.nav-link.d-flex.align-items-center.h-100(class=currentPath && currentPath.includes("/stories") ? "active" : "", href='/stories')=__("Stories")
          if headerPages
            each page in headerPages
              if !!page.prominent
                li.position-relative.nav-item
                  a.mx-0.mx-lg-2.nav-link.d-flex.align-items-center.h-100(class= currentPath === ("/pages/" + page.slug) ? "active" : "" href='/pages/' + page.slug)=page.title

          li.position-relative.nav-item.dropdown
            a.dropdown-toggle.mx-0.mx-lg-2.nav-link.d-flex.align-items-center.h-100(class=page && page.prominent !== "true" && currentPath && currentPath.includes("/pages") || currentPath && currentPath.includes("/about-us") || currentPath && currentPath.includes("/tour") ? "active" : "", href="#", data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")=__("Get involved")
            .dropdown-menu.p-0.border-radius-0.shadow-sm(aria-labelledby='navbarDropdownMenuLink')
              a.dropdown-item.nav-link(href='/about-us/' class=currentPath && currentPath.includes("/about-us") ? "active" : "")=__("About us")
              a.dropdown-item.nav-link(class=currentPath && currentPath.includes("/tour") ? "active" : "" href='/tour')=__("Host our students")
              a.dropdown-item.nav-link(href='https://dci-jobs.personio.de/' class=currentPath == "/jobs" ? "active" : "")=__("Jobs")
              if headerPages
                each page in headerPages
                  if !page.prominent
                    a.dropdown-item.nav-link(class= currentPath === ("/pages/" + page.slug) ? "active" : "" href='/pages/'+ page.slug)=page.title
          li.position-relative.nav-item.dropdown
            a.dropdown-toggle.mx-0.mx-lg-2.nav-link.d-flex.align-items-center.h-100(class=currentPath && currentPath.includes("/contact") ? "active" : "", href="#", data-toggle='modal', data-target='#contactFormModal' aria-haspopup="true" aria-expanded="false")=__("Contact")
            .dropdown-menu.p-0.border-radius-0.shadow-sm(aria-labelledby='navbarDropdownMenuLink')
              a.dropdown-item.nav-link(href="/contact", class=currentPath == "/contact" ? "active" : "")=__("Campuses")
          if locale === "en"
            li.position-relative.nav-item
              a.mx-0.mx-lg-2.nav-link.d-flex.align-items-center.h-100(href="/i18n/de") DE
          else
            li.position-relative.nav-item
              a.mx-0.mx-lg-2.nav-link.d-flex.align-items-center.h-100(href="/i18n/en") EN

