mixin navigation
 nav.navbar.navbar-dark.navbar-expand-md.justify-content-center.mr-5.mt-3(class=currentPath == "/" ? "fixed-top" : "")
  a.navbar-brand.d-flex.w-50.ml-5(href="/") DCI
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsingNavbar3')
    span.navbar-toggler-icon
  #collapsingNavbar3.navbar-collapse.collapse.w-100
    ul.nav.navbar-nav.ml-auto.w-100.justify-content-end
      if user
        li.nav-item.dropdown
          a#navbarDropdownMenuLink.nav-link.dropdown-toggle.mr-4(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Admin
          .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
            a.dropdown-item(href='/admin/contacts') Contacts
            a.dropdown-item(href='/admin/categories') Categories
            a.dropdown-item(href='/admin/locations') Locations
            a.dropdown-item(href='/admin/stories') Stories
            a.dropdown-item(href='/admin/pages') Pages

      li.nav-item.dropdown
        a#navbarDropdownMenuLink.nav-link.dropdown-toggle.mr-4(class= currentPath.includes('/courses') ? "active" : "" data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | COURSES
        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
          each course in courses
            a.dropdown-item(class= currentPath === ("/courses/" + course.name) ? "active" : "" href='/courses/'+ course.name)=course.name
      li.nav-item.dropdown
        a#navbarDropdownMenuLink.nav-link.dropdown-toggle.mr-4(class=currentPath.includes('/events') ? "active" : "" href='/events' data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | EVENTS
        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
          a.dropdown-item(href='/events') Berlin
          a.dropdown-item(href='/events') Düsseldorf
          a.dropdown-item(href='/events') Hamburg
          a.dropdown-item(href='/events') Köln
      li.nav-item
        a.nav-link.mr-4(class=currentPath == "/stories" ? "active" : "" href='/stories') STORIES
    
      li.nav-item.dropdowa
        a#navbarDropdownMenuLink.nav-link.dropdown-toggle.mr-4(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false' class=currentPath == "/admin/contacts" ? "active" : "" href='/admin/contacts')
          | GET INVOLVED
        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
          each page in pages
            a.dropdown-item(class= currentPath === ("/pages/" + page.id) ? "active" : "" href='/pages/'+ page.id)=page.title
        if user
          li.nav-item
            a.nav-link(href='/users/logout') LOGOUT
        else
          li.nav-item
            a.nav-link(class=currentPath == "/users/login" ? "active" : "" href='/users/login') LOGIN
