mixin navigation
  nav.navbar.navbar-expand-lg.navbar-light.py-0.bg-tranition(class=currentPath == "/" ? "fixed-top" : "")
    .container.align-items-stretch
      a.navbar-brand.text-primary.h-60(href="/")
        include ../../assets/media/dci.svg
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsingNavbar3')
        span.navbar-toggler-icon
        span.sr-only="Toggle menu"
      #collapsingNavbar3.navbar-collapse.collapse.w-100.mt-4.mt-md-0.align-items-stretch
        ul.nav.navbar-nav.ml-auto.w-100.justify-content-end#headernav
          if locale === "en"
            li.position-relative.nav-item
              a.mx-0.mx-md-2.nav-link.d-flex.align-items-center.h-100.text-uppercase(href="/i18n/de") Deutsch
          else
            li.position-relative.nav-item
              a.mx-0.mx-md-2.nav-link.d-flex.align-items-center.h-100.text-uppercase(href="/i18n/en") English
          li.position-relative.nav-item
            a.mx-0.mx-md-2.nav-link.d-flex.align-items-center.h-100.text-uppercase.z-1(class= currentPath.includes('/courses') && !currentPath.includes('admin') ? "active" : "", href="/courses")
              =__("Courses")
          li.position-relative.nav-item
            a.mx-0.mx-md-2.nav-link.d-flex.align-items-center.h-100.z-1.text-uppercase(class=currentPath.includes('/events') && !currentPath.includes('admin') ? "active" : "", href='/events')
              =__("Events")
          li.position-relative.nav-item
            a.mx-0.mx-md-2.nav-link.d-flex.align-items-center.h-100.text-uppercase(class=currentPath == "/stories" ? "active" : "", href='/stories')=__("Stories")
          li.position-relative.nav-item
            a.mx-0.mx-md-2.nav-link.d-flex.align-items-center.h-100.text-uppercase(href="/contact", class=currentPath == "/contact" ? "active" : "")=__("Campuses")


          li.position-relative.nav-item
            a.mx-0.mx-md-2.nav-link.d-flex.align-items-center.h-100.text-uppercase(href="/contact", data-toggle='modal', data-target='#contactFormModal')=__("Contact us")
