mixin navigation
 nav.navbar.navbar-expand-lg.navbar-light.py-0.fixed-top.bg-tranition(class=currentPath == "/" ? "" : "")
  .container.align-items-stretch
    a.navbar-brand.text-primary.h-60(href="/")
      include ../../assets/media/dci.svg
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsingNavbar3')
      span.navbar-toggler-icon
      span.sr-only="Toggle menu"
    #collapsingNavbar3.navbar-collapse.collapse.w-100.mt-4.mt-md-0.align-items-stretch
      ul.nav.navbar-nav.ml-auto.w-100.justify-content-end#headernav
        if locale === "en"
          li.position-relative.nav-item
            a.mx-0.mx-md-2.nav-link.d-flex.align-items-center.h-100.text-uppercase(href="/i18n/de") Deutsch
        else
          li.position-relative.nav-item
            a.mx-0.mx-md-2.nav-link.d-flex.align-items-center.h-100.text-uppercase(href="/i18n/en") English
        li.position-relative.nav-item.dropdown
          a.mx-0.mx-md-2#navbarDropdownMenuLink.nav-link.d-flex.align-items-center.h-100.text-uppercase.z-1(class= currentPath.includes('/courses') && !currentPath.includes('admin') ? "active" : "" data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            =__("navigation.Courses")
        li.position-relative.nav-item.dropdown
          a.mx-0.mx-md-2.nav-link#navbarDropdownMenuLink.d-flex.align-items-center.h-100.z-1.text-uppercase(class=currentPath.includes('/events') && !currentPath.includes('admin') ? "active" : "" href='/events' data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            =__("navigation.Events")
        li.position-relative.nav-item
          a.mx-0.mx-md-2.nav-link.d-flex.align-items-center.h-100.text-uppercase(class=currentPath == "/stories" ? "active" : "" href='/stories')=__("navigation.Stories")
        li.position-relative.nav-item.dropdown
          a.mx-0.mx-md-2.nav-link#navbarDropdownMenuLink.d-flex.align-items-center.h-100.z-1.text-uppercase(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false' class= currentPath.includes('/pages') || currentPath.includes("/about-us") && !currentPath.includes('admin') ? "active" : ""  href='/admin/contacts')
            =__("navigation.Get involved")
        li.position-relative.nav-item
          a.mx-0.mx-md-2.nav-link.d-flex.align-items-center.h-100(class=currentPath == "/contact" ? "active" :
          "" href='/contact') CAMPUSES


        li.position-relative.nav-item
          a.mx-0.mx-md-2.nav-link.d-flex.align-items-center.h-100.text-uppercase(data-toggle='modal', data-target='#contactFormModal')=__("navigation.Contact us")
