mixin newsletter
  #newsletter.container.px-md-5
    .px-md-5.floatings
      .bg-section.box-shadow.p-5.position-relative.overflow-hidden
        .position-absolute.left.bottom.top.shift-left-percent-skew.w-100(class=course && course.coloraccent ? `` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` )
        .p-2
          .row
            .col-lg-5.pr-0.pb-5.pb-lg-0
              h3#nlheadline.font-weight-bold.text-dark=__("Stay up to date on the latest")
              p.text-dark.mb-5=__("Get the latest news on events, project presentations and more")
            .col-lg-7.d-flex.flex-column.justify-content-end.pt-5.pt-lg-5
              .ml-lg-5.pl-lg-5
                form#mc-embedded-subscribe-form(name='mc-embedded-subscribe-form', method='post', action='/newsletter-signup')
                  div.mb-3
                    label.text-white.font-size-120(for='newsletter_email')=__("Email")
                    input#newsletter_email.subs_input.text-white.border-bottom.border-white(type='email', required, name='email')
                  button.float-right#nlbtn.btn.btn-outline-primary(type="submit", class=course && course.coloraccent ? `` : `bg-primary`, style=course && course.coloraccent ? `background-color: rgb(${course.coloraccent.replace(/.*\((.*)\)/g, "$1").split(',').map(i => Math.floor(i * 0.8)).join(', ')}` : `` )
                    span=__("Subscribe")
