mixin pageForm
  - var editPath = currentPath.includes('admin/pages/edit')
  form.mb-5(method='POST', action=editPath ? '/admin/pages/update/'+page.slug+'?_method=PUT' : '/admin/pages?alert=create')

    h2=editPath ? "Edit Page " :"Create a new Page"
    
    .mb-3
      label.sr-only(for='inputName') Title
      input#inputName.form-control(name='title', type='text', placeholder='Title', required='', autofocus='', value=editPath ? page.title : "")
    
    .mb-3
      label.sr-only(for='inputContent') Content
      textarea#inputContent.form-control(name='content', type='password', placeholder='Content', required='', )=editPath ? page.content : ""
    .mb-3
      label.sr-only(for='inputContent') Order
      input#inputOrder.form-control(name='order', type='number', placeholder='Order', required='', autofocus='', value=editPath ? page.order : "")

    .my-3
      each category in categories
        .custom-control.custom-checkbox
          input.custom-control-input(name="categories" type='checkbox' id=category.name value=category._id  checked=(category.selected))
          label.custom-control-label(for=category.name)=category.name
  
    button.btn.btn-lg.btn-primary.mb-3(type='submit')=editPath ? "Update" :"Create a new Page" 
