mixin pageForm
  - var editPath = currentPath.includes('admin/pages/edit')
  form.mb-5(method='POST', action=editPath ? '/admin/pages/update/'+page.slug+'?_method=PUT' : '/admin/pages?alert=create')

    h2=editPath ? "Edit Page " :"Create a new Page"
    +adminButtonGroup(page, 'pages')
    .mb-3
      label(for='title') Title
      input#inputName.form-control(name='title', type='text', placeholder='Title', required='', autofocus='', value=editPath ? page.title : "")

    if !editpath && page && page.slug
      .mb-3
        label(for='slug')
          | Slug
          button.btn.btn-secondary.badge.ml-2(type='button', data-container='body', data-toggle='popover',  data-trigger="hover",  data-placement='top', data-content='When creating a page, the slug (url/permalink) derives from the title. Eg. a page with the title `Our students` generates a slug like `our-studets`. The slug is important for SEO, should kept consistent and would confuse google crawler if changed later on after creation. To regenerate/reset the slug, clear the fields and update the record.')
            | ?
        input#inputTitle.form-control(name='slug', type='text', placeholder='Slug', value=page.slug)
    .mb-3
      label(for='order')
        | Order
        button.btn.btn-secondary.badge.ml-2(type='button', data-container='body', data-toggle='popover',  data-trigger="hover",  data-placement='top', data-content='*Order* Defines the position of the pages amongst their location (header-page => 1, 2, 3 ... | footer-pages => 1, 2, 3)')
          | ?
      input#inputOrder.form-control(name='order', type='number', placeholder='Order', autofocus='', value=editPath ? page.order : "")
    h4.d-inline-block Call to action
    button.btn.btn-secondary.badge.ml-2(type='button', data-container='body', data-toggle='popover',  data-trigger="hover",  data-placement='top', data-content='If cta_button_url or cta_text is defined, a box is shown on the page for special information. If cta_button_text is not set, it will display "GoGo gadget!"')
      | ?
    .mb-3
      label(for='cta_button_url')
        | cta_button_url
      input#inputcta_button_url.form-control(name='cta_button_url', type='url', placeholder='cta_button_url', autofocus='', value=editPath ? page.cta_button_url : "")
    .mb-3
      label(for='cta_button_text')
        | cta_button_text
      input#inputcta_button_text.form-control(name='cta_button_text', type='text', placeholder='cta_button_text', autofocus='', value=editPath ? page.cta_button_text : "")
    .mb-3
      label(for='cta_text')
        | cta_text
      input#inputcta_text.form-control(name='cta_text', type='text', placeholder='cta_text', autofocus='', value=editPath ? page.cta_text : "")

    .my-3
      label.h4(for="menulocations") Page Location
      button.btn.btn-secondary.badge.ml-2(type='button', data-container='body', data-toggle='popover',  data-trigger="hover",  data-placement='top', data-content='Defines the Menulocation where the pages are displayed. Headerpages appear in the Header. Footerpages just in the footer. Companypages appear below "Companies", metapages unter "Get invoved". If no location is defined, the page is "hidden" but accessible per direct url. ')
        | ?

      .custom-control.custom-checkbox
        input.custom-control-input(name="companypage" type='checkbox' id="companypage" value=companypage  checked=(page && page.companypage ? true : false))
        label.custom-control-label(for='companypage') Companypage

        button.btn.btn-secondary.badge.ml-2(type='button', data-container='body', data-toggle='popover',  data-trigger="hover",  data-placement='top', data-content='If checked, the Page will be shown directly in the Main navigation instead hidden in a dropdown menu. Exact location depends on the MenuLocation.')
      .custom-control.custom-checkbox
        input.custom-control-input(name="metapage" type='checkbox' id="metapage" value=metapage  checked=(page && page.metapage ? true : false))
        label.custom-control-label(for='metapage') Metapage

        button.btn.btn-secondary.badge.ml-2(type='button', data-container='body', data-toggle='popover',  data-trigger="hover",  data-placement='top', data-content='If checked, the Page will be shown directly in the Main navigation instead hidden in a dropdown menu. Exact location depends on the MenuLocation.')
      each menulocation in menulocations
        .custom-control.custom-checkbox
          input.custom-control-input(name="menulocations" type='checkbox' id=menulocation.name value=menulocation._id  checked=(menulocation.selected))
          label.custom-control-label(for=menulocation.name)=menulocation.name
    .mb-3
      label(for='content') Content
      #editor.bg-white(value=editPath ? page.content : "")
      textarea#inputContent.d-none(name='content', placeholder='Content', required='', )=editPath ? JSON.stringify(page.content) : ""
    .btn-group
      if editPath
        a.btn.btn-outline-primary(href="/admin/pages")="Back"
        a.btn.btn-outline-primary( href="/pages/"+page.slug)="Show"
      button.btn.btn-primary(type='submit')=editPath ? "Update" :"Create a new Page"