mixin singleCourse
  .jumbotron.jumbotron-fluid.mb-0.bg-section.p-0.z-1.position-relative
    .container
      .row
        .col-md-6.bg-panel(class=course && course.coloraccent ? `` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` )
          h1.display-1.mt-5.mb-3=course.headline
          p.lead.mb-5=course.subheading
          each location in course.locations
            span.badge.mr-2=location.name
          div.my-4
            a.btn.btn-white=__("How to Apply")
        .col-md-6.py-5.py-md-0
          .portrait.floatings
            .position-absolute.top.transform-absolute-center.w-100.px-3.px-lg-5.row.align-items-center.h-100.justify-content-end
              .flex-grow-1.w-100
                img.object-fit-cover.img-fluid(alt=model.description src="/images/"+model.icon)
              if model.courselength
                .p-4.font-weight-bold.align-self-end(class=model && model.coloraccent ? `` : `bg-primary`, style=model && model.coloraccent ? `background-color: ${model.coloraccent}` : `` )=model.courselength
  .position-relative.mb-3
    .container-fluid.position-relative
      section#section1
        .row.row-courses
          .col-7.px-5.bg-white.pt-5
            h5.font-weight-bold.text-muted.text-uppercase.py-3=__("Overview")
            h2.mt-3.mb-3.text-left=course.title
            p.lead.text-left=course.subtitle
          .col-5.px-5.bg-white.d-flex.flex-column.justify-content-end
          .col-7.py-3.px-5.bg-white.py-5.mb-5
          .col-5.px-5.bg-white.d-flex.flex-column.justify-content-end
            span(class=course && course.coloraccent ? `` : `text-primary`, style=course && course.coloraccent ? `color: ${course.coloraccent}` : `` )
            img.object-fit-cover.img-fluid(alt=course.description src="/images/"+course.subicon)

    section.mb-5.position-relative.py-5
      .position-absolute.top.left.right.bottom.half-transparent(class=course && course.coloraccent ? `` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` )


      .container.container-fluid-courses.position-relative.text-center
        h5.font-weight-bold.text-muted.text-uppercase.py-3=__("Curriculum")
        h2.mb-3=__("What will I learn?")
        p.lead.mb-5=__("We have designed an application oriented curriculum, tailored to people of all categories. Our students can go head-to-head with the competiton after the course.")
        .my-5
          if course.archivements.filter(t => !!t.description).length > 0 
            .row
              each object, index in course.archivements
                if object.icon
                  .col-md-6.text-center.d-flex.p-4.floatings
                    .row.bg-white.p-3.rounded.hover-shadow
                      figure.mw-150.row.position-relative.col
                        .col.d-flex.flex-column.justify-content-center
                          img.object-fit-cover.img-fluid.square(alt=object.description src="/media/pixel.gif" style="background-image: url('/images/"+object.icon+"')")
                      .col.text-left
                        h5.font-weight-bold=object.title
                        p.lead=object.description
                      .d-flex.flex-column.justify-content-center
                        h2.font-weight-bold=`0${index}`
        if model.curriculumPdf
          h3.mt-5=__("Want to know more?")
          =__("Download the System Administration Course Overview.")
    .container.container-fluid-courses.position-relative
      if course.curriculumPdf
        .text-center.mb-5 
          a.btn.btn-lg.btn-secondary.border-0(href='/images/'+ course.curriculumPdf target='_blank' class=course && course.coloraccent ? `` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` ) 
            div.h-2.d-inline-block.mr-2
              include ../../assets/icons/download.svg
            ="Download"


      section.my-5
        h2=__("Want more details about our Web Development Course?")
        p.lead=__("We will send you the full course information to your email")

        if model.timeline.filter(t => !!t.title).length > 0 
          section#section3.my-5.day-at-dci
            .row.container
              .col-6.text-center.p-5
                .position-absolute.top.left.right.bottom.half-transparent.z-minus(class=model && model.coloraccent ? `` : `bg-primary`, style=model && model.coloraccent ? `background-color: ${model.coloraccent}` : `` )     
                h5.font-weight-bold.text-muted.text-uppercase.py-3=__("Our next Course Start")
                each location in model.locations
                  span.badge.badge-primary.mr-2=location.name
              .col-6.p-3.p-md-5.position-relative
                h5.font-weight-bold.text-muted.text-uppercase.py-3=__("FURTHER DETAILS & REQUIREMENTS")
                h3 About this Course.
                .d-flex.mb-2
                  strong.mr-2=__("Teaching Mode")+":"
                  span.position-relative.overflow-hidden.d-inline-block.px-1
                    .position-absolute.top.left.right.bottom.half-transparent.z-minus(class=model && model.coloraccent ? `` : `bg-primary`, style=model && model.coloraccent ? `background-color: ${model.coloraccent}` : `` )
                    ="On Campus"
                .d-flex.mb-2
                  strong.mr-2=__("Language")+":"
                  span.position-relative.overflow-hidden.d-inline-block.px-1
                    .position-absolute.top.left.right.bottom.half-transparent.z-minus(class=model && model.coloraccent ? `` : `bg-primary`, style=model && model.coloraccent ? `background-color: ${model.coloraccent}` : `` )
                    ="English"
                if model.courselength
                  .d-flex.mb-2
                    strong.mr-2=__("Duration")+":"
                    span.position-relative.overflow-hidden.d-inline-block.px-1
                      .position-absolute.top.left.right.bottom.half-transparent.z-minus(class=model && model.coloraccent ? `` : `bg-primary`, style=model && model.coloraccent ? `background-color: ${model.coloraccent}` : `` )
                      = model.courselength
                .d-flex.mb-2
                  strong.mr-2=__("Availability")+":"
                  span.position-relative.overflow-hidden.d-inline-block.px-1
                    .position-absolute.top.left.right.bottom.half-transparent.z-minus(class=model && model.coloraccent ? `` : `bg-primary`, style=model && model.coloraccent ? `background-color: ${model.coloraccent}` : `` )
                    ="Berlin, Düsseldorf, Hamburg & Leipzig"

                h3 What do we require of you?
                .d-flex.mb-2
                  strong.mr-2=__("Language")+":"
                  span.position-relative.overflow-hidden.d-inline-block.px-1
                    .position-absolute.top.left.right.bottom.half-transparent.z-minus(class=model && model.coloraccent ? `` : `bg-primary`, style=model && model.coloraccent ? `background-color: ${model.coloraccent}` : `` )
                    ="English - minimum B2 Level "
                .d-flex.mb-2
                  strong.mr-2=__("ComputerKnowledge")+":"
                  span.position-relative.overflow-hidden.d-inline-block.px-1
                    .position-absolute.top.left.right.bottom.half-transparent.z-minus(class=model && model.coloraccent ? `` : `bg-primary`, style=model && model.coloraccent ? `background-color: ${model.coloraccent}` : `` )
                    ="Beginner"
      section.mb-5
        if course.features.filter(t => !!t.title).length > 0 
          section#section2.my-5
            each object in model.features
              if object.icon
                .row.container
                  .col-6.text-center.p-5
                    .px-5
                      .px-5
                        img.img-fluid.h-100(src="/images/"+object.icon, alt=object.title)
                  .col-6.p-3.p-md-5.position-relative
                    .position-absolute.top.left.right.bottom.half-transparent.z-minus(class=model && model.coloraccent ? `` : `bg-primary`, style=model && model.coloraccent ? `background-color: ${model.coloraccent}` : `` )     
                    h3.text-left=object.title
                    p.text-left.lead=object.subtitle


        h5.font-weight-bold.text-muted.text-uppercase.py-3=__("APPLICATION")
        h3=__("How to apply")

        .row.container
          .col-4.text-center.p-5
            .d-flex.align-items-center
              h2.font-weight-bold=`01`
              div(class=model && model.coloraccent ? `` : `text-primary`, style=model && model.coloraccent ? `color: ${model.coloraccent}` : `` )
                include ../../assets/icons/github-brands.svg
            =__("Individual Appointment with DCI")
            .position-absolute.right.h-3.shift-vertical.top-50 
              .rotate-180(class=model && model.coloraccent ? `` : `text-primary`, style=model && model.coloraccent ? `color: ${model.coloraccent}` : `` )
                include ../../assets/icons/back-button-arrow-left.svg

          .col-4.text-center.p-5
            .d-flex.align-items-center
              h2.font-weight-bold=`02`
              div(class=model && model.coloraccent ? `` : `text-primary`, style=model && model.coloraccent ? `color: ${model.coloraccent}` : `` )
                include ../../assets/icons/github-brands.svg
            =__("Individual Appointment with DCI")
            .position-absolute.right.h-3.shift-vertical.top-50 
              .rotate-180(class=model && model.coloraccent ? `` : `text-primary`, style=model && model.coloraccent ? `color: ${model.coloraccent}` : `` )
                include ../../assets/icons/back-button-arrow-left.svg
          .col-4.text-center.p-5
            .d-flex.align-items-center
              h2.font-weight-bold=`03`
              div(class=model && model.coloraccent ? `` : `text-primary`, style=model && model.coloraccent ? `color: ${model.coloraccent}` : `` )
                include ../../assets/icons/github-brands.svg
            =__("Individual Appointment with DCI")

          section.my-5.row.bg-light.p-5
            div.my-2
              h2=__("More than just classwork")
              p.lead=__("Beyond building the hard skills in class, you need to get involved in the local tech scene and market yourself. We’re here to help you succeed with career development support and opportunities to get into the community.")

            div.my-2
              h2=__("Career workshops")
              p.lead=__("preparing an industry-specific resume to creating an online presence, you’ll pick up the skills to stand out.")

            div.my-2
              h2=__("Guest speakers")
              p.lead=__("additional specialised sessions from top professionals and get tips from DCI alumni.")

            div.my-2

              h2=__("Company Tours")
              p.lead=__("Take a tour of a local startup and see what the work environment is all about.")

          section#section4.my-5
           if course.successStory
            .my-5
              .row.bg-light.pt-4.hover-shadow.bg-light.w-10
                .col-12
                  h2.text-center Read about a senior DCI graduate
                .col-6.offset-3
                  +singleStory(course.successStory)


          section#section5.my-5.courseSection
            .container
              .row
                .col-lg-8.col-lg-offset-3
                  h2.how-to-apply=__("How To Apply")
                  .courseApply
                    .courseApply-step
                      span.courseApply-stepCount 1
                      p.courseApply-stepTitle=__("Complete the application form")
                    .courseApply-step
                      span.courseApply-stepCount 2
                      p.courseApply-stepTitle=__("Visit DCI and chat with our admissions team")
                    .courseApply-step
                      span.courseApply-stepCount 3
                      p.courseApply-stepTitle=__("Reserve your spot")

                  button.btn.btn-lg.btn-secondary.mt-3.mb-5(type='button' data-toggle='modal', data-target='#contactFormModal') Apply
            section.my-5.pr-md-5.pb-200
              if course.locations.length > 0
                .mb-5
                  h3=__("This course is available in")
                  each location in course.locations
                    span.badge.badge-primary.mr-2=location.name
                  if course.massnahmeNumber
                    h4.mt-4.text-dark
                      = "Massnahmenummer: "
                      code.text-dark=course.massnahmeNumber
                  if course.massnahmeDetails
                    p.mt-4.text-dark=course.massnahmeDetails
              h2=__("Come see our campus!")
              p.lead=__("Have questions? Want to see the student life for yourself? Book a one-on-one visit with our admissions team and we’ll show you around.")
              a.btn.btn-lg.btn-secondary.mt-3.mb-3(href='/contact' )=__("Campuses")


      if user && user.admin === "true"
        div.py-3
          a.btn.btn-outline-primary(target="_blank" href='/admin/courses/edit/'+course.slug) Edit course
