mixin singleEvent(event)
  .newEvent.bg-white.mb-4.w-100
    .newEvent-media.d-flex
      // media container
      .newEvent-media-object-cont
        img.newEvent-media-object(src=event.imageurl)
      // body container
      .newEvent-media-body.w-100
        .newEvent-media-body-top
          h5.subtle.text-muted.font-weight-bold= event.name
        //- span.newEvent-media-body-heading This Thing Called Life: A Celebration of Prince and His Legacy at MEZZANINE SF
        .newEvent-media-body-supporting-bottom
          span.newEvent-media-body-supporting-bottom-text.text-muted.subtle= event.location.street
          span.newEvent-media-body-supporting-bottom-text.subtle.u-float-right.text-muted= event.location.name
        .newEvent-media-body-supporting-bottom.newEvent-media-body-supporting-bottom-reveal
          span.newEvent-media-body-supporting-bottom-text.subtle.text-muted=event.location.name
          a.newEvent-media-body-supporting-bottom-text.newEvent-media-link.u-float-right(data-toggle='modal', data-target='#contactFormModal') Contact Us


