mixin singleCourse
  .jumbotron.jumbotron-fluid.mb-0.bg-white.p-0.z-1.position-relative
    .container-md
      .row
        .col-md-6.bg-panel.right.py-3.py-md-5.px-5.pl-md-0(class=course && course.coloraccent ? `` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` )
          h1.display-1.my-3.mt-y-xl-5(style=`color: ${course.textColor}`)=course.headline
          p.lead.mb-3.pt-3(style=`color: ${course.textColor}`)=course.subheading
          .d-flex.align-items-center.line-height-2-5.pt-3.mt-y-xl-5
            .bg-white.circle.mr-2.p-2(style=`color: ${course.coloraccent}`)
              include ../../assets/icons/location.svg
            .d-flex.flex-wrap
              each location, index in course.locations
                span.font-weight-bold.text-uppercase.d-flex.align-items-center(style=`color: ${course.textColor}`)
                  =location.name
                  span.afterdot.mx-2(style=`background-color: ${course.textColor}`)
              span.font-weight-bold.text-uppercase.d-flex.align-items-center(style=`color: ${course.textColor}`)
                ="Online"
          div.my-3.my-y-xl-5
            a.btn.btn-white.px-4.mt-3.mt-y-xl-5(data-toggle='modal', data-target='#contactFormModal' class=course && course.coloraccent ? `` : `text-primary`, style=course && course.coloraccent ? `color: ${course.coloraccent}!important` : `` )=__("Apply Now")
        .col-md-6.py-5.py-md-0
          .floatings.h-100
            .w-100.px-lg-5.align-items-end.h-100.justify-content-end.d-flex.flex-column
              .d-flex.flex-column.justify-content-center.flex-grow-1.w-100.pb-3.pb-xl-5.px-5.px-md-5
                if course.icon
                  img.object-fit-cover.img-fluid(alt=course.description src="/images/"+course.icon)
                else
                  img.w-100(src="/media/pixel.gif" alt=course.headline style=`background-image: url('${course.icon ? `/images/` + course.icon : `/media/circuit-board.svg`}')`)
              if course.courselength
                .row
                  .p-4.font-weight-bold.align-self-end(class=course && course.coloraccent ? `` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}; color: ${course.textColor}` : `` )=course.courselength
  .position-relative.mb-3.overflow-hidden
    .container-fluid.position-relative
      section#section1
        .row.row-courses
          .col-md-7.px-5.bg-white.pt-5
            .pt-xl-5
              h5.text-left.font-weight-bold.text-muted.text-uppercase.py-3=__("Overview")
              h2.mt-3.mb-3.text-left=course.title
              p.mb-0.lead.text-left=course.subtitle
          .col-md-5.d-none.d-md-flex.px-5.bg-white.d-flex.flex-column.justify-content-end
          .col-md-7.d-none.d-md-flex.py-3.px-5.bg-white.py-5.mb-xl-5
          .col-md-5.px-5.bg-white.d-flex.flex-column.justify-content-end
            span(class=course && course.coloraccent ? `` : `text-primary`, style=course && course.coloraccent ? `color: ${course.coloraccent}` : `` )
            img.img-fluid(alt=course.description src="/images/"+course.subicon)

    section.position-relative.py-5
      .position-absolute.top.left.right.bottom.third-transparent(class=course && course.coloraccent ? `` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` )


      .container.container-fluid-courses.position-relative.text-center.px-5
        h5.font-weight-bold.text-muted.text-uppercase.py-3=__("Curriculum")
        h2.mb-3=__("What will I learn?")
        p.lead.mb-5=course.curriculumSectionSubheading
        .my-5
          if course.archivements.filter(t => !!t.description).length > 0 
            .row
              each object, index in course.archivements
                if object.icon
                  .col-lg-6.text-center.d-flex.p-4.floatings
                    .d-flex.bg-white.p-3.py-md-5.rounded.shadow-sm.w-100.flex-wrap
                      figure.mw-md-150.p-0.position-relative.col-12.mb-0.col-md
                        .col.d-flex.flex-column.justify-content-center.h-100
                          img.object-fit-cover.img-fluid.square(alt=object.description src="/media/pixel.gif" style="background-image: url('/images/"+object.icon+"')")
                      .col.text-left.order-3.order-sm-2
                        h5.font-weight-bold=object.title
                        p.lead.mb-0=object.description
                      .d-flex.flex-column.justify-content-center.order-2.order-sm-3
                        h2.font-weight-bold=`0${index+1}`

    .bg-light
      .text-center.py-5
        h3.pt-lg-5=__("Want to know more?")
        h5.mb-3=__("Join the tech disruption at DCI and launch your career in tech.")
        a.btn.btn-lg.px-4.mb-5.text-white( data-toggle='modal', data-target='#contactFormModal' class=course && course.coloraccent ? `hover-transparent` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}!important` : `` )=__("Apply Now")
    .container.container-fluid-courses.position-relative
      if course.features.filter(t => !!t.title).length > 0   
        section.my-5.pt-5
          h5.font-weight-bold.text-muted.text-uppercase.py-3=__("COURSE DETAILS")
          h2=__("What more do we offer?")
          p.lead=__("We offer much more than just teaching and hacking, such as")+":"

          .mb-5
            .my-5
              each object in course.features
                if object.icon
                  .row.container
                    .col-lg-6.text-center.pl-5.pr-5.pt-5
                      .px-lg-5
                        img.img-fluid.h-100(src="/images/"+object.icon, alt=object.title)
                    .col-lg-6.position-relative
                      .row.bg-panel.left.third-transparent.z-minus(class=course && course.coloraccent ? `` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` )
                      .p-3.px-md-5.py-5.pb-md-3
                        .p-md-4.position-relative
                          h3.text-left=object.title
                          p.text-left.lead=object.subtitle


      if course.successStory
        section#section4.w-100.py-5.container
          .row.my-md-5
            .col-md-8.offset-md-2.border.pt-4.p-5.rounded
              .pt-md-4
                div.py-4.px-3.d-flex.flex-column.justify-content-between.w-100
                  a(href="/stories/"+course.successStory.slug)
                    .row
                      .col-md-9
                        div.content
                          blockquote.text-left.text-muted.z-1
                            .quotesign.z-minus.mt-n3(class=course && course.coloraccent ? `` : `text-primary`, style=course && course.coloraccent ? `color: ${course.coloraccent}` : `` )
                              include ../../assets/icons/om_quote.svg
                            =course.successStory.excerpt.replace(/"/g, "")
                          h5.font-weight-bold.text-right.text-dark=course.successStory.title
                          .text-muted.text-right.d-block.mb-3.mb-md-0=course.successStory.workPosition
                      .col-md-3.d-flex.flex-column.justify-content-end
                        +storyImages(course.successStory, " p-0 col-md-9 offset-md-1 col-6 offset-3")

                  if user
                    form.d-flex.justify-content-between.mt-3(method='POST', action='/admin/stories/delete/'+course.successStory.slug +'?_method=DELETE')
                      a.btn.btn-outline-primary.mr-2(target="_blank" rel="noopener" href="/stories/"+course.successStory.slug) Show
                      if user.id === course.successStory.userId || user.admin === "true"
                        .d-flex.align-items-center
                          a.btn.btn-outline-primary.mr-2(href="/admin/stories/edit/"+course.successStory.slug) Edit
                          button.btn.btn-outline-danger(type='submit') Delete

      section#section3.my-5.container.text-left
        .row
          .col-md-6.p-5
            .position-absolute.top.left.right.bottom.third-transparent.z-minus(class=course && course.coloraccent ? `` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` )     
            //- h5.font-weight-bold.text-muted.text-uppercase.py-3=__("Our next Course Start")
            //- each location in course.locations
            //-   span.badge.badge-primary.mr-2=location.name

            h5.font-weight-bold.text-muted.text-uppercase.mb-4=__("FURTHER DETAILS")
            h3=__("About this Course")
            if course.startInterval
              .my-3
                strong.mr-2=__("Starts every")+":"
                span
                  span.padded-text(style=course && course.coloraccent ? `background-color: ${course.coloraccent.replace(/rgb/, "rgba").replace(/\)/, ", 0.33)")}` : `` )=course.startInterval
            .my-3
              strong.mr-2=__("Teaching Mode")+":"
              span
                span.padded-text(style=course && course.coloraccent ? `background-color: ${course.coloraccent.replace(/rgb/, "rgba").replace(/\)/, ", 0.33)")}` : `` )=__( "On Campus & Online" )
            if course.courseLanguages
              .my-3
                strong.mr-2=__("Language")+":"
                span.padded-text(style=course && course.coloraccent ? `background-color: ${course.coloraccent.replace(/rgb/, "rgba").replace(/\)/, ", 0.33)")}` : `` )
                  = course.courseLanguages
            if course.courselength
              .my-3
                strong.mr-2=__("Duration")+":"
                span.padded-text(style=course && course.coloraccent ? `background-color: ${course.coloraccent.replace(/rgb/, "rgba").replace(/\)/, ", 0.33)")}` : `` )= course.courselength
            if course.locations
              .my-3
                strong.mr-2=__("Availability")+":"
                span.padded-text(style=course && course.coloraccent ? `background-color: ${course.coloraccent.replace(/rgb/, "rgba").replace(/\)/, ", 0.33)")}` : `` )
                  each location, index in course.locations
                    =location.name
                    if index != course.locations.length - 1
                      =", "
                  =" & Online"
          .col-md-6.position-relative.p-5
            h5.font-weight-bold.text-muted.text-uppercase.mb-4=__("REQUIREMENTS")

            h3=__("What do we require of you?")
            if course.courseLanguages
              .my-3
                strong.mr-2=__("Language")+":"
                span.padded-text(style=course && course.coloraccent ? `background-color: ${course.coloraccent.replace(/rgb/, "rgba").replace(/\)/, ", 0.33)")}` : `` )
                  = course.courseLanguages 
                  = " - "
                  =__("minimum B2 Level")
            if course.computerKnowledge
              .my-3
                strong.mr-2=__("Computer Knowledge")+":"
                span.padded-text(style=course && course.coloraccent ? `background-color: ${course.coloraccent.replace(/rgb/, "rgba").replace(/\)/, ", 0.33)")}` : `` )=course.computerKnowledge
            if course.education
              .my-3
                strong.mr-2=__("Education")+":"
                span.padded-text(style=course && course.coloraccent ? `background-color: ${course.coloraccent.replace(/rgb/, "rgba").replace(/\)/, ", 0.33)")}` : `` )=course.education
            if course.other
              .my-3
                strong.mr-2=__("Other")+":"
                span.padded-text(style=course && course.coloraccent ? `background-color: ${course.coloraccent.replace(/rgb/, "rgba").replace(/\)/, ", 0.33)")}` : `` )=course.other
      hr.d-md-none

      section.my-5.py-5
        h5.font-weight-bold.text-muted.text-uppercase.py-3=__("APPLICATION")
        h3=__("How to apply")
        .row.container
          .col-md-4.text-center.p-5
            .d-flex.align-items-center
              h2.font-weight-bold=`01`
              div(class=course && course.coloraccent ? `` : `text-primary`, style=course && course.coloraccent ? `color: ${course.coloraccent}` : `` )
                include ../../assets/icons/course_personal_data.svg
            strong.text-muted=__("Individual Appointment with DCI")
            .d-none.d-md-block.position-absolute.right.h-3.shift-vertical.top-50 
              .rotate-180(class=course && course.coloraccent ? `` : `text-primary`, style=course && course.coloraccent ? `color: ${course.coloraccent}` : `` )
                include ../../assets/icons/back-button-arrow-left.svg

          .col-md-4.text-center.p-5
            .d-flex.align-items-center
              h2.font-weight-bold=`02`
              div(class=course && course.coloraccent ? `` : `text-primary`, style=course && course.coloraccent ? `color: ${course.coloraccent}` : `` )
                include ../../assets/icons/course_job_interview.svg
            strong.text-muted=__("Appointment with AfA/ JobCenter")
            .d-none.d-md-block.position-absolute.right.h-3.shift-vertical.top-50 
              .rotate-180(class=course && course.coloraccent ? `` : `text-primary`, style=course && course.coloraccent ? `color: ${course.coloraccent}` : `` )
                include ../../assets/icons/back-button-arrow-left.svg
          .col-md-4.text-center.p-5
            .d-flex.align-items-center
              h2.font-weight-bold=`03`
              div(class=course && course.coloraccent ? `` : `text-primary`, style=course && course.coloraccent ? `color: ${course.coloraccent}` : `` )
                include ../../assets/icons/course_checklist.svg
            strong.text-muted=__("Start your Class")

      section.text-center
        .position-relative
          hr.position-absolute.top.left.right.z-minus.m-2
          p.d-inline.p-3.bg-white.font-weight-bold=__("or")
        .row
          .col-md-6.py-5.py-md-0
            div.h-100.d-flex.flex-column.justify-content-center.px-5(class=course && course.coloraccent ? `` : `text-primary`, style=course && course.coloraccent ? `color: ${course.coloraccent}` : `` )
              .flex-grow-1.d-flex.flex-column.justify-content-center
                include ../../assets/icons/financing_chancen_eg.svg
              strong.text-muted.d-block.text-center.mt-5.mt-md-0=__("Financing with Chancen eG")
          .col-md-6.py-5.py-md-0
            div.h-100.d-flex.flex-column.justify-content-center.px-5(class=course && course.coloraccent ? `` : `text-primary`, style=course && course.coloraccent ? `color: ${course.coloraccent}` : `` )
              .px-5.flex-grow-1
                include ../../assets/icons/credit_card.svg
              strong.text-muted.d-block.text-center=__("Self-payer")
        .py-5
          p.my-3=__("Want to learn more about our financing options?")
          a.btn.btn-lg.px-4.btn-secondary.border-0.text-white(href='/courses/financingoptions' class=course && course.coloraccent ? `hover-transparent` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` )=__("Learn more")
          
      section.pb-200.mt-5.w-100
        .p-5.position-relative.shadow-sm.overflow-hidden.mb-5
          .p-md-5.mb-5
            div.position-absolute.top.left.w-100.h-100.third-transparent(class=course && course.coloraccent ? `` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` )
            .row
              .col-md-7.order-12.order-md-0.text-left
                .mb-3
                  h3=__("What are you waiting for?")
                  =__("Join the tech disruption at DCI and launch your career in tech.")
                a.btn.btn-lg.px-4.mb-5.text-white( data-toggle='modal', data-target='#contactFormModal' class=course && course.coloraccent ? `hover-transparent` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}!important` : `` )=__("Apply Now")
                .mb-3
                  h3=__("Have questions?")
                  =__("Our education counselors are always there to advise you.")
                a.btn.btn-lg.px-4.mb-5.text-white( data-toggle='modal', data-target='#contactFormModal' class=course && course.coloraccent ? `hover-transparent` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}!important` : `` )=__("Contact us")
                if course.curriculumPdf
                  .mb-3
                    h3=__("Download Course Overview")
                  a.btn.btn-lg.px-4.btn-secondary.border-0.text-white(href='#' data-toggle='modal', data-target='#curriculumpopup' data-course=`${course.slug}` class=course && course.coloraccent ? `hover-transparent` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` ) 
                    div.h-2.w-2.d-inline-block.mr-2
                      include ../../assets/icons/download.svg
                    ="Download"
              .col-md-5.order-0.order-md-12.pb-5.pb-md-0(style=course && course.coloraccent ? `color: ${course.coloraccent}` : `` )
                include ../../assets/icons/rocket_launch.svg

        if user && user.admin === "true"
          div.py-3
            a.btn.btn-outline-primary(target="_blank" rel="noopener" href='/admin/courses/edit/'+course.slug) Edit course
