mixin singleEvent(event)
  a.card.single-event-card.rounded-top.border-0.mb-4(data-toggle='modal', data-target='#contactFormModal')
    img.card-img-top(src=event.imageurl)
    .card-body
      .card-date.mr-2
        p.card-date-month.mb-0.mt-1 FEB
        p.card-date-day.text-center 6
      .card-text
        p.event-name.mb-0= event.name
        p.event-date.mb-0=event.start
        span.event-location=event.location.street
        span.event-location.ml-1=event.location.name
          


