mixin singleCourse
  .position-relative.mb-3.bg-section.pb-200
    .jumbotron.jumbotron-fluid.text-center.bg-light-blue.mb-0
      h1.display-1.mt-5.mb-3=model.headline
      p.lead.mb-5=model.subheading
      button.btn.btn-lg.btn-secondary.mt-3.mb-5(type='button' data-toggle='modal', data-target='#contactFormModal')=__("Apply")
    if model.curriculumPdf
      a.btn.btn-lg.btn-secondary.mt-3.mb-5(href='/images/'+ model.curriculumPdf target='_blank' ) Download Curriculum

    .container.container-fluid-courses.position-relative
      .row.row-courses
        nav#courseScrollspy.courses-scroll.col-sm-3.col-4.my-3.pt-3
          ul.nav.nav-pills.flex-column.nav-courses-pills.p-4.text-center.bg-white
            h4=model.headline
            li.nav-item
              a.scrollbutton.nav-link.connection-line.nav-link-spy.text-dark.mb-2.active.mb-5(href='#section1')=__("Overview")
            li.nav-item
              a.scrollbutton.nav-link.connection-line.nav-link-spy.text-dark.mb-2.mb-5(href='#section2')=__("What you will learn")
            li.nav-item
              a.scrollbutton.nav-link.connection-line.nav-link-spy.text-dark.mb-2.mb-5(href='#section3')=__("Day at DCI")
            if model.successStory
              li.nav-item
                a.scrollbutton.nav-link.connection-line.nav-link-spy.text-dark.mb-2.mb-5(href='#section4')=__("A success story")
            li.nav-item
              a.scrollbutton.nav-link.connection-line.nav-link-spy.text-dark.mb-2.mb-5(href='#section5')=__("How to Apply")
            button.btn.btn-secondary.btn-spy(type='button' data-toggle='modal', data-target='#contactFormModal' )=__("Apply now")


        .col-12.col-xl-9.py-3.px-5.bg-white
          if model.archivements.filter(t => !!t.title).length > 0 
            #section1.mb-5
              h2.mt-3.mb-3.text-left=model.title
              p.lead.text-left=model.subtitle
              .row
                -
                each object in model.archivements
                  if object.icon
                    figure.col-md-4.text-center
                      .m-3.row.position-relative
                        .col-10.offset-1.col-md-8.offset-md-2.align-items-center
                          img.object-fit-cover.img-fluid.square(alt=object.description src="/media/pixel.gif" style="background-image: url('/images/"+object.icon+"')")
                      p.lead=object.description

          if model.features.filter(t => !!t.title).length > 0 
            #section2.my-5
              -
              each object in model.features
                if object.icon
                  .row.container
                    .col-12.d.flex.m-auto
                      img.img-fluid.float-left.mr-3.icons(src="/images/"+object.icon, alt=object.title)
                      h3.text-left=object.title
                      p.text-left.lead=object.subtitle

          section.my-5
            h2=__("Want more details about our Web Development Course?")
            p.lead=__("We will send you the full course information to your email")

          if model.timeline.filter(t => !!t.title).length > 0 
            #section3.my-5.day-at-dci
              h2.mb-5=__("A day at DCI")
              each object in model.timeline
                if !!object.title
                  .row.container.timelineRow
                    .col-12.d.flex.m-auto
                      div.timelineDiv.float-left.text-center
                        span.timeline=object.time
                      div.ml-5
                        h3.ml-5.pt-2.text-left=object.title
                        p.ml-5.text-left=object.subtitle

          section.my-5.row.bg-light.p-5
            div.my-2
              h2=__("More than just classwork")
              p.lead=__("Beyond building the hard skills in class, you need to get involved in the local tech scene and market yourself. We’re here to help you succeed with career development support and opportunities to get into the community.")

            div.my-2
              h2=__("Career workshops")
              p.lead=__("preparing an industry-specific resume to creating an online presence, you’ll pick up the skills to stand out.")

            div.my-2
              h2=__("Guest speakers")
              p.lead=__("additional specialised sessions from top professionals and get tips from DCI alumni.")

            div.my-2

              h2=__("Company Tours")
              p.lead=__("Take a tour of a local startup and see what the work environment is all about.")

          #section4.my-5
           if model.successStory
            section.my-5
              .row.bg-light.pt-4.hover-shadow.bg-light.w-10
                .col-12
                  h2.text-center Read about a senior DCI graduate
                .col-6.offset-3
                  +singleStory(model.successStory)


          #section5.my-5.courseSection
            .container
              .row
                .col-lg-8.col-lg-offset-3
                  h2.how-to-apply=__("How To Apply")
                  .courseApply
                    .courseApply-step
                      span.courseApply-stepCount 1
                      p.courseApply-stepTitle=__("Complete the application form")
                    .courseApply-step
                      span.courseApply-stepCount 2
                      p.courseApply-stepTitle=__("Visit DCI and chat with our admissions team")
                    .courseApply-step
                      span.courseApply-stepCount 3
                      p.courseApply-stepTitle=__("Reserve your spot")

                  button.btn.btn-lg.btn-secondary.mt-3.mb-5(type='button' data-toggle='modal', data-target='#contactFormModal') Apply
            section.my-5.pr-md-5
              if model.locations.length > 0
                .mb-5
                  h3=__("This course is available in")
                  each location in model.locations
                    span.badge.badge-primary.mr-2=location.name
                  if model.massnahmeNumber
                    h4.mt-4.text-dark
                      = "Massnahmenummer: "
                      code.text-dark=model.massnahmeNumber
                  if model.massnahmeDetails
                    p.mt-4.text-dark=model.massnahmeDetails
              h2=__("Come see our campus!")
              p.lead=__("Have questions? Want to see the student life for yourself? Book a one-on-one visit with our admissions team and we’ll show you around.")

      if user && user.admin === "true"
        div.py-3
          a.btn.btn-outline-primary(target="_blank" href='/admin/courses/edit/'+model.slug) Edit course
