mixin singleStory(story, showFullContent)
  div.py-4.px-3.d-flex.flex-column.justify-content-between.w-100
    a(href="/stories/"+story.slug)
      
      .row
        .col-md-9
          div.content
            blockquote.text-left.text-muted
              .quotesign.third-transparent.z-minus(class=course && course.coloraccent ? `` : `text-primary`, style=course && course.coloraccent ? `color: ${course.coloraccent}` : `` )
                include ../../assets/icons/om_quote.svg
              =story.excerpt.replace(/"/g, "")
            h5.font-weight-bold.text-right.text-dark=story.title
            .text-muted.text-right.d-block.mb-3.mb-md-0=story.workPosition
        .col-md-3.d-flex.flex-column.justify-content-end
          +storyImages(story, " p-0 col-md-8 offset-md-2 col-6 offset-3")

    if user
      form.d-flex.justify-content-between.mt-3(method='POST', action='/admin/stories/delete/'+story.slug +'?_method=DELETE')
        a.btn.btn-outline-primary.mr-2(target="_blank" href="/stories/"+story.slug) Show
        if user.id === story.userId || user.admin === "true"
          .d-flex.align-items-center
            a.btn.btn-outline-primary.mr-2(href="/admin/stories/edit/"+story.slug) Edit
            button.btn.btn-outline-danger(type='submit') Delete
