mixin singleEmployee(employee, classes="")
  - random = Math.floor(Math.random() * 10)
  .col-md-6.mb-4.mx-5.mx-md-0(class=classes)
    .text-center
      .border.bg-white.p-2.rounded
        .px-3
          .px-3.pt-3
            img.blue-shadow.object-fit-cover.img-fluid.rounded-circle.square(alt=employee.name src="/media/pixel.gif" style="background-image: url('/images/"+employee.avatar+"')")
          h6.font-weight-bold.mt-3=employee.name
          if employee.position
            .position-relative.z-1
              p.text-muted.mb-1=employee.position
          if employee.locations.length
            .position-relative.z-1.text-right
              each loc in employee.locations
                a.ml-2.font-weight-bold.text-uppercase.text-primary(title=loc.name href="/contact")= loc.name.substr(0, 3)
