mixin singleEvent(event)
  .col-md-4
    a.card.single-event-card.border-0.mb-4.hover-shadow(href=event.url, target="_blank" rel="noopener")
      img.card-img-top(alt=event.name src=event.imageurl)
      .card-body.p-3
        .card-date.mr-2
          p.card-date-month.mb-0.mt-1=moment(event.start).format('MMM')
          p.card-date-day.text-center=moment(event.start).format('DD')
        .card-text
          p.event-name.mb-0= event.name
          p.event-date.mb-0=moment(event.start).format('MMMM Do YYYY, h:mm a')
          if event.location
            span.event-location=event.location.street
          if event.location
            span.event-location.ml-1=event.location.name
