mixin singleEmployee(employee)
  li.col-md-6.col-sm-12.col-lg-4.d-flex.mb-4.text-center.mb-3
    .hover-shadow.bg-white.w-100
      if employee && employee.avatar !== "false"
        .mb-3
          .m-3.row.position-relative
            .col-10.offset-1.col-md-8.offset-md-2.align-items-center
              img.object-fit-cover.img-fluid.rounded-circle.square(alt=employee.name src="/media/pixel.gif" style="background-image: url('/images/"+employee.avatar+"')")
          //- img.rounded-circle.w-100.mw-150.mh-150.object-fit-cover(src="/images/"+employee.avatar)
      h3=employee.name
      h4=employee.position
      p=employee.content
      .mb-3
        each loc in employee.locations
          span.badge.badge-primary.mr-3= loc.name
      if user && user.admin === "true" && currentPath.includes('admin')

        +displayLanguage(employee, `employees`, `name`)
        form.d-flex.justify-content-between(method='POST', action='/admin/employees/delete/'+employee.slug +'?_method=DELETE')
          .d-flex.align-items-center
            a.btn.btn-outline-primary.mr-2(href="/admin/employees/edit/"+employee.slug) Edit
            button.btn.btn-outline-danger(type='submit') Delete