mixin singleCourse
  .jumbotron.jumbotron-fluid.mb-0.bg-white.p-0.z-1.position-relative
    .container
      .row
        .col-md-6.bg-panel.right.py-3.py-md-5(class=course && course.coloraccent ? `` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` )
          h1.display-1.mt-5.mb-3=course.headline
          p.lead.mb-5=course.subheading
          .d-flex.align-items-center.flex-wrap.line-height-2-5
            .bg-white.circle.mr-2.p-2
              include ../../assets/icons/location.svg
            each location in course.locations
              span.font-weight-bold.mr-3.text-uppercase.afterdot=location.name
            span.font-weight-bold.mr-3.text-uppercase.afterdot="Online"
          div.my-4
            a.btn.btn-white.px-4(class=course && course.coloraccent ? `` : `text-primary`, style=course && course.coloraccent ? `color: ${course.coloraccent}!important` : `` )=__("Apply Now")
        .col-md-6.py-5.py-md-0
          .floatings.h-100
            .w-100.px-lg-5.align-items-end.h-100.justify-content-end.d-flex.flex-column
              .flex-grow-1.w-100.py-5
                if course.icon
                  img.object-fit-cover.img-fluid(alt=course.description src="/images/"+course.icon)
                else
                  img.w-100(src="/media/pixel.gif" alt=course.headline style=`background-image: url('${course.icon ? `/images/` + course.icon : `/media/circuit-board.svg`}')`)
              if course.courselength
                .row
                  .p-4.font-weight-bold.align-self-end(class=course && course.coloraccent ? `` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` )=course.courselength
  .position-relative.mb-3.overflow-hidden
    .container-fluid.position-relative
      section#section1
        .row.row-courses
          .col-md-7.px-5.bg-white.pt-5
            .py-3.py-md-5
              h5.font-weight-bold.text-muted.text-uppercase.py-3=__("Overview")
              h2.mt-3.mb-3.text-left=course.title
              p.lead.text-left=course.subtitle
          .col-md-5.d-none.d-md-flex.px-5.bg-white.d-flex.flex-column.justify-content-end
          .col-md-7.d-none.d-md-flex.py-3.px-5.bg-white.py-5.mb-5
          .col-md-5.px-5.bg-white.d-flex.flex-column.justify-content-end
            span(class=course && course.coloraccent ? `` : `text-primary`, style=course && course.coloraccent ? `color: ${course.coloraccent}` : `` )
            img.object-fit-cover.img-fluid(alt=course.description src="/images/"+course.subicon)

    section.mb-5.position-relative.py-5
      .position-absolute.top.left.right.bottom.third-transparent(class=course && course.coloraccent ? `` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` )


      .container.container-fluid-courses.position-relative.text-center
        h5.font-weight-bold.text-muted.text-uppercase.py-3=__("Curriculum")
        h2.mb-3=__("What will I learn?")
        p.lead.mb-5=__("We have designed an application oriented curriculum, tailored to people of all categories. Our students can go head-to-head with the competiton after the course.")
        .my-5
          if course.archivements.filter(t => !!t.description).length > 0 
            .row
              each object, index in course.archivements
                if object.icon
                  .col-md-6.text-center.d-flex.p-4.floatings
                    .d-flex.bg-white.p-3.rounded.shadow-sm.w-100
                      figure.mw-150.row.position-relative.col.mb-0
                        .col.d-flex.flex-column.justify-content-center
                          img.object-fit-cover.img-fluid.square(alt=object.description src="/media/pixel.gif" style="background-image: url('/images/"+object.icon+"')")
                      .col.text-left
                        h5.font-weight-bold=object.title
                        p.lead.mb-0=object.description
                      .d-flex.flex-column.justify-content-center
                        h2.font-weight-bold=`0${index+1}`
        if course.curriculumPdf
          h3.mt-5=__("Want to know more?")
          =__("Download %s Overview.", course.headline)
    .container.container-fluid-courses.position-relative
      if course.curriculumPdf
        .text-center.mb-5 
          a.btn.btn-lg.px-5.btn-secondary.border-0.text-white(href='/images/'+ course.curriculumPdf target='_blank' class=course && course.coloraccent ? `hover-transparent` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent};` : `` ) 
            div.h-2.d-inline-block.mr-2
              include ../../assets/icons/download.svg
            ="Download"


      section.my-5.pt-5
        h5.font-weight-bold.text-muted.text-uppercase.py-3=__("COURSE DETAILS")
        h2=__("What more do we offer?")
        p.lead=__("We offer much more than just teaching and hacking, such as:")

      section.mb-5
        if course.features.filter(t => !!t.title).length > 0 
          section#section2.my-5
            each object in course.features
              if object.icon
                .row.container
                  .col-md-6.text-center.p-5
                    .px-lg-5
                      .px-5
                        img.img-fluid.h-100(src="/images/"+object.icon, alt=object.title)
                  .col-md-6.position-relative
                    .row.bg-panel.left.third-transparent.z-minus(class=course && course.coloraccent ? `` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` )
                    .p-3.p-md-5
                      .p-md-4.position-relative
                        h3.text-left=object.title
                        p.text-left.lead=object.subtitle


      if course.successStory
        section#section4.my-5.w-100.py-5
          .row.my-5
            .col-md-8.offset-md-2.border.pt-4.p-5.rounded
              +singleStory(course.successStory)

      section#section3.my-5.pt-5.container
        .row
          .col-md-6.p-5
            .position-absolute.top.left.right.bottom.third-transparent.z-minus(class=course && course.coloraccent ? `` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` )     
            //- h5.font-weight-bold.text-muted.text-uppercase.py-3=__("Our next Course Start")
            //- each location in course.locations
            //-   span.badge.badge-primary.mr-2=location.name

            h5.font-weight-bold.text-muted.text-uppercase.text-center.mb-4=__("FURTHER DETAILS")
            h3=__("About this Course.")
            .d-flex.mb-2.flex-wrap
              strong.mr-2=__("Teaching Mode")+":"
              span.position-relative.overflow-hidden.d-inline-block.px-sm-1
                .position-absolute.top.left.right.bottom.third-transparent.z-minus(class=course && course.coloraccent ? `` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` )
                ="On Campus"
            .d-flex.mb-2.flex-wrap
              strong.mr-2=__("Language")+":"
              span.position-relative.overflow-hidden.d-inline-block.px-sm-1
                .position-absolute.top.left.right.bottom.third-transparent.z-minus(class=course && course.coloraccent ? `` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` )
                ="English"
            if course.courselength
              .d-flex.mb-2.flex-wrap
                strong.mr-2=__("Duration")+":"
                span.position-relative.overflow-hidden.d-inline-block.px-sm-1
                  .position-absolute.top.left.right.bottom.third-transparent.z-minus(class=course && course.coloraccent ? `` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` )
                  = course.courselength
            .d-flex.mb-2.flex-wrap
              strong.mr-2=__("Availability")+":"
              span.position-relative.overflow-hidden.d-inline-block.px-sm-1
                .position-absolute.top.left.right.bottom.third-transparent.z-minus(class=course && course.coloraccent ? `` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` )
                ="Berlin, Düsseldorf, Hamburg & Leipzig"
          .col-md-6.position-relative.p-5
            h5.font-weight-bold.text-muted.text-uppercase.mb-4=__("REQUIREMENTS")

            h3 What do we require of you?
            .d-flex.mb-2.flex-wrap
              strong.mr-2=__("Language")+":"
              span.position-relative.overflow-hidden.d-inline-block.px-sm-1
                .position-absolute.top.left.right.bottom.third-transparent.z-minus(class=course && course.coloraccent ? `` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` )
                ="English - minimum B2 Level "
            .d-flex.mb-2.flex-wrap
              strong.mr-2=__("ComputerKnowledge")+":"
              span.position-relative.overflow-hidden.d-inline-block.px-sm-1
                .position-absolute.top.left.right.bottom.third-transparent.z-minus(class=course && course.coloraccent ? `` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` )
                ="Beginner"
      hr.d-md-none

      section.my-5.py-5
        h5.font-weight-bold.text-muted.text-uppercase.py-3=__("APPLICATION")
        h3=__("How to apply")
        .row.container
          .col-md-4.text-center.p-5
            .d-flex.align-items-center
              h2.font-weight-bold=`01`
              div(class=course && course.coloraccent ? `` : `text-primary`, style=course && course.coloraccent ? `color: ${course.coloraccent}` : `` )
                include ../../assets/icons/course_personal_data.svg
            =__("Individual Appointment with DCI")
            .d-none.d-md-block.position-absolute.right.h-3.shift-vertical.top-50 
              .rotate-180(class=course && course.coloraccent ? `` : `text-primary`, style=course && course.coloraccent ? `color: ${course.coloraccent}` : `` )
                include ../../assets/icons/back-button-arrow-left.svg

          .col-md-4.text-center.p-5
            .d-flex.align-items-center
              h2.font-weight-bold=`02`
              div(class=course && course.coloraccent ? `` : `text-primary`, style=course && course.coloraccent ? `color: ${course.coloraccent}` : `` )
                include ../../assets/icons/course_job_interview.svg
            =__("Appointment with AfA/ JobCenter")
            .d-none.d-md-block.position-absolute.right.h-3.shift-vertical.top-50 
              .rotate-180(class=course && course.coloraccent ? `` : `text-primary`, style=course && course.coloraccent ? `color: ${course.coloraccent}` : `` )
                include ../../assets/icons/back-button-arrow-left.svg
          .col-md-4.text-center.p-5
            .d-flex.align-items-center
              h2.font-weight-bold=`03`
              div(class=course && course.coloraccent ? `` : `text-primary`, style=course && course.coloraccent ? `color: ${course.coloraccent}` : `` )
                include ../../assets/icons/course_checklist.svg
            =__("Start your Class")

      section.pb-200.mt-5.w-100
        .p-5.position-relative.border.shadow-sm.overflow-hidden
          div.position-absolute.top.left.w-100.h-100.third-transparent(class=course && course.coloraccent ? `` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` )
          .row
            .col-md-6.order-12.order-md-0.text-left
              .mb-3
                h3=__("What are you waiting for?")
                =__("Join the tech disruption at DCI and launch your career in tech")
              a.btn.px-4.mb-5.text-white( data-toggle='modal', data-target='#contactFormModal' class=course && course.coloraccent ? `hover-transparent` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}!important` : `` )=__("Apply Now")
              .mb-3
                h3=__("Have questions?")
                =__("Our education counselors are always there to advice you.")
              a.btn.px-4.mb-5.text-white( data-toggle='modal', data-target='#contactFormModal' class=course && course.coloraccent ? `hover-transparent` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}!important` : `` )=__("Contact Us")
              .mb-3
                h3=__("Download Course Overview")
              a.btn.px-4.btn-secondary.border-0.text-white(href='/images/'+ course.curriculumPdf target='_blank' class=course && course.coloraccent ? `hover-transparent` : `bg-primary`, style=course && course.coloraccent ? `background-color: ${course.coloraccent}` : `` ) 
                div.h-2.d-inline-block.mr-2
                  include ../../assets/icons/download.svg
                ="Download"
            .col-md-6.order-0.order-md-12.pb-5.pb-md-0(style=course && course.coloraccent ? `color: ${course.coloraccent}` : `` )
              include ../../assets/icons/rocket_launch.svg

        if user && user.admin === "true"
          div.py-3
            a.btn.btn-outline-primary(target="_blank" href='/admin/courses/edit/'+course.slug) Edit course
