mixin singleEvent(event)
  .col-md-6.floatings.mb-5.pb-4
    .card.border-0.bg-white.p-4.rounded.shadow-sm.h-100.d-flex.flex-column.justify-content-between(href=event.url, target="_blank" rel="noopener")
      .text-center.d-flex
        .d-flex.rounded.w-100.flex-wrap
          figure.mw-lg-150.p-0.position-relative.col-12.mb-0.col-lg
            .col.d-flex.flex-column.justify-content-center.h-100
              img.card-img-top.mb-3.mb-md-0(alt=event.name src=event.imageurl)
          .col.text-left.order-3.order-sm-2
            h5.font-weight-bold.text-dark=event.name
            
            p.text-muted.mb-0
              span.mr-3.w-1.d-inline-block
                img.mb-1.w-100(src="/media/events_clock-thin.svg", alt="women on blackboard")
              =moment(event.start).format('HH:SS DD.MMM.YYYY')
            a.text-right.d-block.stretched-link.font-weight-bold(href=event.url target="_blank" rel="noopener")="Register" 