mixin storylist(isPublic)
  .container.pb-5.fullbleed
    .row.pb-5.justify-content-center
      .col-md-6.mb-md-5.px-5.px-md-0.mr-minus-15
        #studentscarousel.wrapper.wrapper-left.carousel.slide.mb-md-5.w-100(data-ride='')
          h3.h4.text-center.my-5.my-md-0=__("Students")
          .carousel-inner.px-md-0
            each story, index in nonComanyStories
              //if index === 0
              .carousel-item(class= index === 0 ? ` active` : ``)
                if user && story && user.userId === story.userId || user && user.admin === "true"
                  a.position-absolute.left.top.btn.btn-outline-primary.z-foreground(href=`/admin/stories/edit/${story.slug}`) Edit
                .aspect_ratio-md.bg-md-light-blue
                  .row
                    .col-md-8
                      .row.px-3
                        .col-md-8.offset-md-2.pl-0.pt-2
                          +storyImages(story)
                      .carousel-caption.text-left.text-dark.text-shadow-light-blue.pl-3.py-1
                        .shape-md-outside
                        h4.font-weight-bold=story.title
                        p.mb-1=story.excerpt
                        code.text-muted.small=story.workPosition
                    .col-md-4
          if nonComanyStories[1]
            .row
              .col-md-7
                ol.carousel-indicators
                  each story, index in nonComanyStories
                    li(data-target='#studentscarousel', data-slide-to=index, class= index === 0 ? `active` : ``)

      .col-md-6.mt-md-5.px-0
        #employercarousel.wrapper.wrapper-right.carousel.leftCut.slide.mt-md-5.w-100(data-ride='')
          if companyStories[0] && companyStories[0].isCompanyStory
            h3.h4.text-center.text-md-right.pr-md-5.my-5.my-md-0=__("Companies")
          .carousel-inner.px-5.px-md-0
            each story, index in companyStories
              .carousel-item(class= index === 0 ? ` active` : ``)
                if (user && story && user.userId === story.userId) || user && !!user.admin === "true" || user && !!user.superAdmin === "true"
                  a.position-absolute.right.top.btn.btn-outline-primary.z-foreground(href=`/admin/stories/edit/${story.slug}`) Edit
                .aspect_ratio-md
                  div
                    .col-md-9.offset-md-3.d-flex.flex-column.justify-content-center.order-12.order-md-1
                      .carousel-caption.text-right.text-dark.text-shadow-light-blue.pl-md-5
                        .shape-md-outside.shape-left
                        p=story.excerpt
                    .col-md-11.offset-md-1.order-1.order-md-12
                      .row
                        .col-md-12.d-flex.align-items-md-end.flex-column.flex-md-row
                          .carousel-caption.flex-grow-1.text-md-right.order-12.order-md-1
                            h4.text-dark.font-weight-bold=story.title
                            code.text-muted.small=story.workPosition
                          .w-md-50.order-1.order-md-12
                            +storyImages(story)

          if companyStories[1]
            .row
              .col-md-7.offset-md-3
                ol.carousel-indicators
                  each story, index in companyStories
                    li(data-target='#employercarousel', data-slide-to=index, class= index === 0 ? `active` : ``)
