mixin storyForm
  - var editPath = currentPath.includes('admin/stories/edit')
  form.form-signin(method='POST', action=editPath ? '/admin/stories/update/'+story.slug+'?_method=PUT' : '/admin/stories', enctype="multipart/form-data")
    
    h2=editPath ? "Edit story" :"Create a new Story"
    
    .mb-3
      label.sr-only(for='inputTitle') Title
      input#inputTitle.form-control(name='title', type='text', placeholder='Title', value=editPath ? story.title :"" required='', autofocus='')

    .mb-3
      label.sr-only(for='inputAlumniName') Title
      input#inputAlumniName.form-control(name='alumniName', type='text', placeholder='Alumni Name', value=editPath ? story.alumniName :"" required='', autofocus='')

    .mb-3
      label.sr-only(for='inputWorkPosition') Title
      input#inputWorkPosition.form-control(name='workPosition', type='text', placeholder='Work Position', value=editPath ? story.workPosition :"" required='', autofocus='')

    .mb-3
      label.sr-only(for='inputExcerpt') Title
      input#inputExcerpt.form-control(name='excerpt', type='text', placeholder='excerpt (teaser text)', value=editPath ? story.excerpt :"" required='', autofocus='')

    .mb-3
      label.sr-only(for='inputContent') Content
      textarea#inputContent.form-control(name='content', type='password', placeholder='Content', required='')=editPath ? story.content :""
    .mb-3
      label.sr-only(for='inputOrder') Order
      input#inputOrder.form-control(name='order', type='number', placeholder='Order', required='', value=editPath ? story.order :"" autofocus='')

    .form-group
      label(for='exampleFormControlFile1') Upload Photo
      input#exampleFormControlFile1.form-control-file(type='file' name='avatar')


    each category in categories
      .custom-control.custom-checkbox
        input.custom-control-input(name="categories" type='checkbox' id=category.name value=category._id  checked=(category.selected))
        label.custom-control-label(for=category.name)=category.name

    button.btn.btn-lg.btn-primary.btn-block(type='submit')=editPath ? "Update" :"Create a new Story" 
