mixin storyForm
  - var editPath = currentPath.includes('admin/stories/edit')
  form.mb-5.form-signin(method='POST', action=editPath ? '/admin/stories/update/'+story.slug+'?_method=PUT' : '/admin/stories', enctype="multipart/form-data")
    
    h2
      span.mr-3=editPath ? "Edit story" :"Create a new Story"
    +adminButtonGroup(story, 'stories')   
    .mb-3
      label(for='title') Title
      input#inputTitle.form-control(name='title', type='text', placeholder='Title', value=editPath ? story.title :"" required='', autofocus='')

    if !editpath && story && story.slug
      .mb-3
        label(for='slug') 
          | Slug
          button.btn.btn-secondary.badge.ml-2(type='button', data-container='body', data-toggle='popover',  data-trigger="hover",  data-placement='top', data-content='Changing this has negative effects on SEO if it not fresh created. To regenerate the slug, clear the fields and update the record.')
            | ?
        input#inputTitle.form-control(name='slug', type='text', placeholder='Slug', value=story.slug) 
    .mb-3
      label(for='subtitle') Subtitle
      input#subtitle.form-control(name='subtitle', type='text', placeholder='Subtitle', value=editPath ? story.subtitle :"" required='', autofocus='')

    .mb-3
      label(for='workPosition') Work Position
      input#inputWorkPosition.form-control(name='workPosition', type='text', placeholder='Work Position', value=editPath ? story.workPosition :"" required='', autofocus='')

    .mb-3
      label(for='excerpt') Excerpt
      input#inputExcerpt.form-control(name='excerpt', type='text', placeholder='excerpt (teaser text)', value=editPath ? story.excerpt :"" required='', autofocus='')

    .mb-3
      label(for='content') Content
      #editor(value=editPath ? story.content : "")
      textarea#inputContent.d-none(name='content', type='password', placeholder='Content', required='', )=editPath ? JSON.stringify(story.content) : ""
    .mb-3
      label(for='order') 
        | Order
        button.btn.btn-secondary.badge.ml-2(type='button', data-container='body', data-toggle='popover',  data-trigger="hover",  data-placement='top', data-content='In which order the stories are displayed.')
          | ?
      input#inputOrder.form-control(name='order', type='number', placeholder='Order', required='', value=editPath ? story.order :"" autofocus='')
    .row
      .form-group.col-md-6
        label(for='avatar') Upload Photo
        input#exampleFormControlFile1.form-control-file(type='file' name='avatar')

        if story && story.avatar
          img.w-100.mw-150.mh-150.object-fit-cover(src="/images/"+story.avatar)
      .form-group.col-md-6
        label(for='avatar') Upload Company Logo
        input#exampleFormControlFile1.form-control-file(type='file' name='companylogo')

        if story && story.companylogo
          img.w-100.mw-150.mh-150.object-fit-cover(src="/images/"+story.companylogo)

    .btn-group
      if editPath
        a.btn.btn-outline-primary(href="/admin/stories")="Back"
        a.btn.btn-outline-primary(target="_blank" href="/stories/"+story.slug)="Show"
      button.btn.btn-primary(type='submit')=editPath ? "Update" :"Create a new Story" 