mixin storylist(isPublic)
  .container
    .row
      .col-md-8
        #studentscarousel.carousel.slide(data-ride='carousel')
          h3.text-center.my-5.my-md-0 Students
          .carousel-inner
            each story, index in nonComanyStories
              //if index === 0
              .carousel-item(class= index === 0 ? ` active` : ``)
                .aspect_ratio-md.bg-md-light-blue
                  .row
                    .col-md-8
                      .row
                        .col-md-8.offset-md-2
                          if user && story && user.userId === story.userId || user && user.admin === "true"
                            a.position-absolute.left.top.btn.btn-outline-primary(href=`/admin/stories/edit/${story.slug}`) Edit

                          +storyImages(story)
                      .carousel-caption.text-left.text-dark.text-shadow-light-blue.px-md-5
                        .shape-md-outside
                        h5=story.title
                        p=story.excerpt
                        code=story.workPosition
                    .col-md-4
          .row
            .col-md-7
              ol.carousel-indicators
                each story, index in nonComanyStories
                  li(data-target='#studentscarousel', data-slide-to=index, class= index === 0 ? `active` : ``)

          //a.carousel-control-prev(href='#studentscarousel' role='button' data-slide='prev')
          //  span.carousel-control-prev-icon(aria-hidden='true')
          //  span.sr-only Previous
          //a.carousel-control-next(href='#studentscarousel' role='button' data-slide='next')
          //  span.carousel-control-next-icon(aria-hidden='true')
          //  span.sr-only Next

    .row.mt-5.mt-md-0
      .offset-md-4.col-md-8
        #employercarousel.py-5.carousel.leftCut.slide(data-ride='carousel')
          if companyStories[0] && companyStories[0].isCompanyStory
            h3.text-center.text-md-right.pr-md-5.my-5.my-md-0 Companies
          .carousel-inner
            each story, index in companyStories
              .carousel-item(class= index === 0 ? ` active` : ``)
                .aspect_ratio-md
                  .row
                    .col-md-8.offset-md-3.d-flex.flex-column.justify-content-center.order-12.ordser-md-1
                      .carousel-caption.text-left.text-dark.text-shadow-light-blue.pl-md-5
                        .shape-md-outside.shape-left
                        p=story.excerpt
                    .col-md-10.offset-md-2.order-1.order-md-12
                      .row
                        .col-12.d-flex.align-items-md-end.flex-column.flex-md-row
                          .carousel-captiondiv.text-md-right.order-12.order-md-1
                            h5=story.title
                            code=story.workPosition
                          .w-md-50.order-1.order-md-12
                            +storyImages(story)
                      if (user && story && user.userId === story.userId) || user && !!user.admin === "true" || user && !!user.superAdmin === "true"
                        a.position-absolute.right.top.btn.btn-outline-primary(href=`/admin/stories/edit/${story.slug}`) Edit

          .row
            .col-md-7
              ol.carousel-indicators
                each story, index in companyStories
                  li(data-target='#employercarousel', data-slide-to=index, class= index === 0 ? `active` : ``)
