mixin storyForm
  - var editPath = currentPath.includes('admin/stories/edit')
  form.mb-5.form-signin(method='POST', action=editPath ? '/admin/stories/update/'+story.slug+'?_method=PUT' : '/admin/stories', enctype="multipart/form-data")

    h2
      span.mr-3=editPath ? "Edit story" :"Create a new Story"
    +adminButtonGroup(story, 'stories')

    label.checkbox.text-muted(for='isCompanyStory')
      ="Company story?"
      button.btn.btn-secondary.badge.ml-2(type='button', data-container='body', data-toggle='popover',  data-trigger="hover",  data-placement='top', data-content='If checked, the story will appear on the landingpage stories slider on the right side as a story, written in the perspective of a company, not a alumni')
        | ?
      input#isCompanyStory(type='checkbox', name='isCompanyStory', value="on", checked=story && !!story.isCompanyStory ? true: false, )
      span.checkmark
    .mb-3
      label(for='title') Title
      input#inputTitle.form-control(name='title', type='text', placeholder='Title', value=editPath ? story.title :"" required='', autofocus='')

    if !editpath && story && story.slug
      .mb-3
        label(for='slug')
          | Slug
          button.btn.btn-secondary.badge.ml-2(type='button', data-container='body', data-toggle='popover',  data-trigger="hover",  data-placement='top', data-content='When creating a page, the slug (url/permalink) derives from the title. Eg. a page with the title `Our students` generates a slug like `our-studets`. The slug is important for SEO, should kept consistent and would confuse google crawler if changed later on after creation. To regenerate/reset the slug, clear the fields and update the record.')
            | ?
        input#slug.form-control(name='slug', type='text', placeholder='Slug', value=story.slug)
    .mb-3
      label(for='subtitle') Subtitle
      input#subtitle.form-control(name='subtitle', type='text', placeholder='Subtitle', value=editPath ? story.subtitle :"" required='', autofocus='')

    .mb-3
      label(for='workPosition') Work Position
      input#inputWorkPosition.form-control(name='workPosition', type='text', placeholder='Work Position', value=editPath ? story.workPosition :"" required='', autofocus='')

    .mb-3
      label(for='excerpt') Excerpt
      button.btn.btn-secondary.badge.ml-2(type='button', data-container='body', data-toggle='popover',  data-trigger="hover",  data-placement='top', data-content='Preview of the content. Shows up storyslider on the landingpage to prevent overlapping text. Use it for granular summary of the story in case the story content itself has a lyrical, very long or unconnected beginning content')
        | ?
      input#inputExcerpt.form-control(name='excerpt', type='text', placeholder='excerpt (teaser text)', value=editPath ? story.excerpt :"" required='', autofocus='')

    .mb-3
      label(for='content') Content
      #editor(value=editPath ? story.content : "")
      textarea#inputContent.d-none(name='content', placeholder='Content', required='', )=editPath ? JSON.stringify(story.content) : ""
    .mb-3
      label(for='order')
        | Order
        button.btn.btn-secondary.badge.ml-2(type='button', data-container='body', data-toggle='popover',  data-trigger="hover",  data-placement='top', data-content='In which order the stories are displayed.')
          | ?
      input#inputOrder.form-control(name='order', type='number', placeholder='Order', required='', value=editPath ? story.order :"" autofocus='')
    .row
      .form-group.col-md-6
        label(for='avatar') Upload Photo
        input#exampleFormControlFile1.form-control-file(type='file' name='avatar')

        if story && story.avatar
          img.w-100.mw-150.mh-150.object-fit-cover(alt="story avatar image" src="/images/"+story.avatar)
      .form-group.col-md-6
        label(for='avatar') Upload Company Logo
        input#exampleFormControlFile1.form-control-file(type='file' name='companylogo')

        if story && story.companylogo
          img.w-100.mw-150.mh-150.object-fit-cover(alt="story company logo image" src="/images/"+story.companylogo)

    .btn-group
      if editPath
        a.btn.btn-outline-primary(href="/admin/stories" title="Back")="Back"
        a.btn.btn-outline-primary(target="_blank" rel="noopener" href="/stories/"+story.slug title="Show")="Show"
      button.btn.btn-primary(type='submit')=editPath ? "Update" :"Create a new Story"
