mixin successCarousel(stories)
  #careersuccesscarousel.card.carousel.bg-transparent.slide.mb-5.pt-3.pb-5(data-ride="carousel" data-interval="40000")
    .carousel-inner.py-5
      each story, index in stories
        - isPartner = story.partnerlogo
        .carousel-item.h-100.px-3.px-sm-5(class= index === 0 ? ` active` : ``)
          .py-5.shadow.rounded-sm.h-100.position-relative.bg-white
            if user && story && user.userId === story.userId || user && user.admin === "true"
              a.position-absolute.right.bottom.btn.btn-outline-primary.z-foreground(href=`/admin/${isPartner ? `partners` : `stories`}/edit/${story.slug}` title=story.title) Edit
            .bg-white.p-4.rounded-sm.h-100
                  
              div.position-relative.h-100.d-flex.flex-column.justify-content-around
                .px-sm-5.story-item
                  blockquote.blockquote.z-0
                    .quotesign.z-minus(class=course && course.coloraccent ? `` : `text-primary`, style=course && course.coloraccent ? `color: ${course.coloraccent}` : `` )
                      include ../../assets/icons/om_quote.svg
                    if story.testimonial_content
                      = story.testimonial_content
                    else 
                      =story.excerpt
                .d-flex.justify-content-end.align-items-center.align-items-md-end.flex-column.flex-md-row
                  
                  if story.title || story.workPosition
                    .text-center.text-md-right.px-3.order-12.order-md-1
                      if story.title
                        h3=story.title
                      if story.workPosition
                        h6.font-weight-bold.text-muted=story.workPosition
                  if isPartner
                    .text-right.rounded-circle.overflow-hidden.mb-md-0.order-1.order-md-12(style=`box-shadow: 3px 3px ${course && course.coloraccent ? course.coloraccent : `#1B39CA !important`};`)
                      img.mw-150.w-6.h-6.w-md-8.h-md-8(src=`/images/${story.partnerlogo ? story.partnerlogo : story.avatar}` style=`box-shadow: 3px 3px ${course && course.coloraccent ? course.coloraccent : `#1B39CA !important`}` class=story.partnerlogo ? "object-fit-contain" : "object-fit-cover" alt="story partner logo")
                  else 
                    a.text-right.rounded-circle.overflow-hidden.order-1.order-md-12.flex-shrink-0.mb-4.mb-md-0(href=story.partnerlogo ? `#` : `/stories/${story.slug}` style=`box-shadow: 3px 3px ${course && course.coloraccent ? course.coloraccent : `#1B39CA !important`};` class=story.partnerlogo ? "" : "stretched-link")
                      img.mw-150.w-6.h-6.w-md-8.h-md-8(src=`/images/${story.partnerlogo ? story.partnerlogo : story.avatar}` style=`box-shadow: 3px 3px ${course && course.coloraccent ? course.coloraccent : `#1B39CA !important`}` class=story.partnerlogo ? "object-fit-contain" : "object-fit-cover" alt="story partner logo")
      if stories.length > 1
        ol.carousel-indicators
          each story, index in stories
            li(data-target="#careersuccesscarousel" data-slide-to=index class=index==0 ? " active": "")